[2019-10-28 20:28] jcmcken commented on #494
Also interested in this.

[2019-10-30 21:42] NandoTheessen commented on #488
It looks like none of your nodes are available for scheduling, this could have multiple causes but I don't think it's related to kube-bench.

[2019-10-31 13:14] jondkent opened #509 "Addition of exit code(s)?"
Hi,

I'm wondering if it would be a good idea to have a non-zero exit code on any FAILS to allow kube-bench to be run more programmically?  Obviously any non-zero would mean digging into any log created.  Not expecting this for WARN messages, though maybe possible to have a code for individual FAIL, WARN states and a code for a mix of the 2?

Cheers,
Jon

[2019-10-31 17:07] sakshamtaneja21 opened #510 "Organisation member"
# Organisation member

May I know how to get an invite as a member of our organization
what is the basic criteria with the procedure

[2019-11-04 23:03] jgsqware commented on #488
Maybe you have should have a toleration to allow the scheduling on the master node.

[2019-11-05 08:43] muradmomani opened #512 "Where to run the kube-bench ?"
Hello,

I read that i can run kube-bench on my host, as container on the cluster and as docker image.

1.what is the difference between running kube-bench on my host or as a container in the cluster itself?

2.should I run it on each worker and master node on my cluster to get the security status of each one or I can  only run it on one node and it will scan all other worker and master nodes in th

[2019-11-05 09:02] TheKangaroo commented on #420
Sorry for the late response. I somehow missed your reply.
Here is the debug log for `docker run --pid=host -v /etc:/etc:ro -v /var:/var:ro -t aquasec/kube-bench:latest master --version 1.13 -v 3`:
[code]

[2019-11-05 09:02] #420 closed

[2019-11-05 10:11] TheKangaroo commented on #420
I accidentally closed this issue, but the fix of @mrueg sounds legit. I didn't even recognize the manual type.

[2019-11-05 15:45] robertojrojas commented on #331
Fixed by #497

[2019-11-05 15:45] #331 closed

[2019-11-05 21:32] robertojrojas commented on #269
fixed by #511

[2019-11-05 21:32] #269 closed

[2019-11-05 22:26] lizrice commented on #498
I don't think this is going to work on all platforms as there are some cases where it needs root privilege to look at certain files. @robertojrojas wdyt?

[2019-11-06 01:05] robertojrojas commented on #498
I think this might not work in cases where the code needs to read certain file, **/var/lib/kubelet/config.yaml** is one example that comes to mind.

[2019-11-06 01:13] robertojrojas commented on #501
Fixed by #508

[2019-11-06 01:13] #501 closed

[2019-11-06 04:58] s-nirali commented on #498
Hello @lizrice , @robertojrojas . I've tested the container created using a non-root user by mounting the /var and /etc directory . All contents of the directory are accessible inside to the non-root user. The results of running kube-bench with or without the root user are also the same. However, the "install" command in the entrypoint script does require root privileges to install the binary in t

[2019-11-06 14:53] lizrice commented on #510
The aquasecurity organization is for Aqua employees and contractors

[2019-11-06 14:53] #510 closed

[2019-11-06 14:58] lizrice commented on #427
Maybe the solution here is to add some extra information in the event when kube-bench could not run the test (as opposed to running the test but it fails the test criteria).

[2019-11-06 15:11] robertojrojas commented on #494
**_Note_** that we changed the **cfg** directory layout to use the CIS Benchmark version instead of the Kubernetes as it used to be.
So, the CIS 1.5 Benchmark will be in the **`cfg/cis-1.5`** directory. The configuration files inside and their names will stay the same as before - _config.yaml, node.yaml, master.yaml_

[2019-11-06 15:32] robertojrojas commented on #512
@muradmomani **kube-bench** performs a check on the host that you run only. Currently, the tool doesn't have the ability to discover members of the cluster.

Running  **kube-bench** on a host or a container is a matter of choice. One way to think about this is running **kube-bench** directly provides more flexibility, but requires more configuration (i.e create the cfg directory, etc..)
Running **

[2019-11-06 15:48] robertojrojas commented on #509
@jondkent thanks for the suggestion.

At the moment, the main idea of **kube-bench** was to provide a report based on CIS Benchmark checks.
If you need programmatic way, you could use the **"--json"** flag and parse the JSON payload.

[2019-11-06 18:23] leodotcloud opened #515 "Artifacts/Binaries missing for v0.1.0 release"
Hi team, could you please upload the binaries for the latest release?

[Not sure if I am checking too early, at the time of creating this issue, it's been 3 hours since the release]

[2019-11-06 23:15] robertojrojas commented on #472
The documentation as it stands is correct, so I'll be closing this.

[2019-11-06 23:15] #472 closed

[2019-11-06 23:20] robertojrojas commented on #453
@Pratima PR #461 should fix this.

[2019-11-06 23:20] #453 closed

[2019-11-06 23:31] robertojrojas commented on #457
@johnSchnake Thanks for your contribution!
Fixed by #459
Closing.

[2019-11-06 23:31] #457 closed

[2019-11-06 23:33] robertojrojas commented on #441
@mwwolters Thanks for your contribution!
Fixed by #442
Closing.

[2019-11-06 23:33] #441 closed

[2019-11-06 23:39] robertojrojas commented on #425
It should be fixed with latest changes. I'm going to confirm tomorrow 11/7/2019

[2019-11-06 23:45] robertojrojas commented on #421
I'll take a look at this soon.

[2019-11-06 23:46] robertojrojas commented on #419
Closing due to lack of response.

[2019-11-06 23:46] #419 closed

[2019-11-06 23:49] robertojrojas commented on #387
Fixed by #353

[2019-11-06 23:49] #387 closed

[2019-11-06 23:50] robertojrojas commented on #368
@jonrau-at-aws Thanks for your contribution!
Fixed by #489
Closing

[2019-11-06 23:50] #368 closed

[2019-11-06 23:56] robertojrojas commented on #65
Hey @jaxxstorm @luxas are you guys still looking into this?

[2019-11-07 13:34] robertojrojas commented on #488
Hi @lordcf does this continue to an issue for you?

[2019-11-07 13:50] robertojrojas commented on #427
Scheduled a meeting with @YuvalAqua for Monday 11/11/2019 to talk about this.

[2019-11-07 13:56] robertojrojas commented on #515
@leodotcloud Thanks for reporting this. we're looking into this.

[2019-11-07 15:26] robertojrojas commented on #515
@leodotcloud binaries should be available now [v0.1.0](https://github.com/aquasecurity/kube-bench/releases/tag/v0.1.0.)
Closing

[2019-11-07 15:26] #515 closed

[2019-11-07 16:59] robertojrojas commented on #425
cc: @hectoralicea

Well, it turns out that for AKS passing the **"--version"** flag might be the only option for the moment.
As of kube-bench v0.1.0, using only **`command: ["kube-bench"]`** the following error is returned
[code]

I found that **kubectl** is located in **'/usr/local/bin'**  instead of **'/usr/bin'**
I also noticed that the **kubectl** executable is dynamically linked with **GLIBC*

[2019-11-07 21:38] johnSchnake commented on #460
I just put up a PR for this; let me know what you think. I looked at your releases and saw that you may be due for another one shortly. I was hoping to get this in before the next release if possible as it is a feature we'd love to utilize in an integration.

[2019-11-08 01:09] robertojrojas opened #517 "Besides Kubectl and Kubelet Use the REST API to Determines Kubernetes Version"
Currently **kube-bench** depends on **kubectl** or **kubelet** as the only way to determine the version of Kubernetes.

I'm proposing that in addition to the above programs, kube-bench uses the **Kubernetes REST API** to determine the version of Kubernetes.

[2019-11-08 01:59] DhruvTrehan commented on #460
I got your idea. But my skills are not so advanced to turn your idea into
code. I am working on it. I am learning each day.

On Fri, 8 Nov, 2019, 3:08 am John Schnake, <notifications@github.com> wrote:

[2019-11-08 12:34] lizrice commented on #423
@yoavAqua do you have the output of what happens when trying to run on PKS? (Hopefully this will turn out to be another set of file locations that need adding to the config file)

[2019-11-08 20:29] jondkent commented on #509
Thanks, I'll go that route

[2019-11-08 22:10] robertojrojas commented on #509
Closing...

[2019-11-08 22:10] #509 closed

[2019-11-09 00:34] robertojrojas commented on #425
@hectoralicea I'm working on a PR #518  that might help with the situation where **kube-bench** is having a hard time determining the **Kubernetes** version.

[2019-11-09 01:03] robertojrojas opened #519 "Openshift 3.11 Complains About Use of hostPID: true"
When running the provided **job.yaml** against OpenShift 3.11, the job fails to be scheduled.
The following error is displayed by running **ocp get events**

[code]

One way to fix this problem is with the following steps:

- `oc create namespace kube-bench` 

- `oc adm policy add-scc-to-user -n kube-bench privileged -z default`

- create the following file **` job-ocp.yaml`**

[code]

[2019-11-09 01:06] robertojrojas commented on #512
For more detail take a look at our [README](https://github.com/aquasecurity/kube-bench/blob/master/README.md) file

Closing...

[2019-11-09 01:06] #512 closed

[2019-11-12 15:09] lizrice commented on #432
It's not clear to me which version of Kubernetes retires `--admission-control` completely.

We try to follow the CIS Benchmark, which doesn't include this alternative deprecated flag `--admission-control`. So if we take this change we're diverging from the benchmark and we're potentially encouraging people to use a deprecated flag.

[2019-11-12 16:56] leodotcloud commented on #494
@robertojrojas with 1.5, etcd has been pulled out under it's own section. I guess we would need _etcd.yaml_ along with the existing _master.yaml_ and _node.yaml_.

Also, we have master and node as sub commands to the top level CLI (kube-bench). With the introduction of etcd section, we might need a new sub command added as well. Or another option would be to pass the role as an argument instead of

[2019-11-12 18:27] robertojrojas commented on #494
@leodotcloud We're still looking into CIS 1.5. I'm not completely sure that's the approach the tool will follow. We'll see. :)

[2019-11-12 18:38] leodotcloud commented on #494
Cool. BTW, one more pointer/suggestion :)

We can reuse the master sub command and pass the controls file using `-f`. And then have the etcd related controls in it's own file to run the following:

For master: `kube-bench master -f master.yaml --outputfile master.json`
For etcd: `kube-bench master -f etcd.yaml --outputfile etcd.json`

[2019-11-13 13:03] #460 closed

[2019-11-13 13:31] robertojrojas commented on #432
Closing as per comments above.

[2019-11-13 13:31] #432 closed

[2019-11-13 14:20] robertojrojas commented on #425
@hectoralicea PR #518 should provide a solution for this.
Closing...

[2019-11-13 14:20] #425 closed

[2019-11-13 14:21] robertojrojas commented on #517
Fixed by #518
Closing...

[2019-11-13 14:21] #517 closed

[2019-11-16 14:40] robertojrojas commented on #439
Fixed by #520

[2019-11-16 14:40] #439 closed

[2019-11-22 17:09] lizrice opened #521 "Support alternative file locations for kubeconfig"
In order to accommodate the file locations needed for AKS, as shown in [this commit](https://github.com/andyzhangx/kube-bench/commit/5f5ee060445b762ae93945a8288e7de0c20caf9d) we need the ability to specify alternative locations for the kubelet kubeconfig file

[2019-11-24 10:14] luxas commented on #65
I'm not, I've stepped down from kubeadm day-to-day development.

[2019-11-25 15:43] robertojrojas commented on #391
This issue is back or probably I didn't fix it correctly :(

[2019-11-25 17:53] robertojrojas commented on #521
Appears to be fixed by #383

[2019-11-26 16:20] robertojrojas commented on #391
Fixed by #522

[2019-11-26 16:20] #391 closed

[2019-11-26 22:43] leodotcloud commented on #498
It doesn't matter who the user is inside the container, if the docker run command is invoked as root.

[2019-11-27 13:23] robertojrojas commented on #521
Fixed by #383

[2019-11-27 13:23] #521 closed

[2019-11-27 15:32] robertojrojas commented on #421
Fixed by #422 and #523

[2019-11-27 15:32] #421 closed

[2019-11-27 15:53] lizrice commented on #498
It may be possible to run kube-bench as a non-root user on some platforms, but in general we believe that it will need to be root (on the host) to have correct access to certain config files, and to produce correct results. For that reason we are not proposing to pursue this issue.

Note that the associated PR #499 sets up the image as a non-root user, but then overrides the user with -u 0:0 so th

[2019-11-27 15:53] #498 closed

[2019-11-27 17:29] lizrice commented on #494
I think I have a proposal that is back-compatible with today's behaviour.

CIS 1.5 has the following sections:

1. Master (well, this is actually called Control Plane Components but this is too close to section 3)
2. Etcd
3. Control Plane
4. Worker
5. Policies

We could refer to these with the following names: `master`, `etcd`, `controlplane`, `worker`, `policies` and have the test definitions in

[2019-11-27 21:42] ttousai commented on #494
@lizrice great proposal!

I want to point out that we should handle  cases where some sections are not applicable to particular CIS versions or are renamed.

Some examples:
[code]

I think  the  following modification to your pseudocode will do the trick
[code]

should look like:

[code]

[2019-11-29 12:19] lizrice opened #528 "Summary should cover all tests"
When you run kube-bench without specifying the node type, on a master node it runs the master tests, outputs a summary of those, then runs the node tests and outputs a separate summary of those. It would be better if there was one summary covering all the tests that have been run

[2019-11-29 13:46] johnSchnake commented on #528
Do you think it would also make sense to (either by default or optionally) describe all tests; regardless of whether they were run or not? That way the report would be consistent across any given run regardless if they were master or node tests. The tests not run would just be marked as skipped.

It seems like that may make it easier or people saving/running lots of these to view different reports

[2019-12-01 08:41] lizrice commented on #427
@robertojrojas could you write up here what conclusions you & Yuval came to? This might be something @yoavrotems could work on

[2019-12-01 08:44] lizrice commented on #196
This will require using the kubernetes API to query Node.Spec.Status.Config for the node being tested. I wonder if this would report the right information regardless of whether the node is configured by run-time parameters, JSON config file, or ConfigMap?

[2019-12-02 14:51] robertojrojas commented on #494
@lizrice  Overall, I agree with this proposal.

I agree with @ttousai in regards to the translation from `worker` to `node` when reading the `cfg/<version>/node.yaml` That will certainly make compatible with existing CIS benchmarks.

In regards to invalid combinations, **kube-bench** should display an error in the same manner to the one displayed when both `--version` and `--benchmark` are specifi

[2019-12-02 19:07] robertojrojas commented on #427
@yoavrotems @lizrice, @YuvalAqua and I agreed that new a new section should be added to the JSON output.
This section should include which, if any, tests failed due to execution errors vs outcome from the test of the results of the command execution.
I'm proposing adding a the field `CommandError` to the `check.Check` struct like so:
[code]
The field `CommandError` will be populated when the comma

[2019-12-02 19:47] lizrice commented on #494
Yep I also agree on the worker - node translation.

I'm fine with changing the name to `--targets`

[2019-12-04 10:49] rrey opened #532 "feature request: support S3 destination for `--outputfile` option"
Hello there,

I'd like to run kube-bench regularly and have the reports made available on a S3 compatible storage (minio).

Do you have this feature in your roadmap ?

[2019-12-05 21:04] robertojrojas commented on #494
Fixed by #530

[2019-12-05 21:04] #494 closed

[2019-12-06 00:05] lizrice commented on #488
I think what @jgsqware suggests is very likely the cause - it's often the case that master nodes are tainted to prevent pods from running on them. This [doc](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#control-plane-node-isolation) describes how to remove the taint.

I'm closing on the assumption that this is the reason it's not working - please re

[2019-12-06 00:05] #488 closed

[2019-12-06 20:25] robertojrojas opened #535 "Auto-detect Fails on OpenShift"
When running **kube-bench** in the following manner:
[code]

it fails with the following error:
[code]

[2019-12-09 09:53] rrey opened #536 "RPM only contains the binary"
Hello,

The RPM only contains the `kube-bench` binary.
The configuration and yaml representation of the cis bench is not included and requires additional downloads to be able to run `kube-bench`.

Is there any reason for omitting this ?

[2019-12-09 16:50] robertojrojas opened #538 "Add More Information on `exitWithError`"
There are situation where the code only contains **`exitWithError(err)`**.
When kube-bench is executed and one of those statements is executed, the user only gets an error without any further information.

[2019-12-09 23:33] lizrice commented on #532
This would be nice to support. I wonder if rather than building S3-specific code into kube-bench we can use [`aws s3`](https://loige.co/aws-command-line-s3-content-from-stdin-or-to-stdout/)

[2019-12-10 16:35] robertojrojas commented on #536
@rrey thanks for reporting this.
I'll take a look at cause of this and fix it.

[2019-12-12 10:34] leodotcloud commented on #427
Instead of naming it `warn_reason`, may be it could be kept generic as `reason` so that more info can be added in case of FAIL too?

[2019-12-12 15:56] IceBear2k opened #541 "CIS 1.5 file permissions are set to 644 or more restrictive"
In CIS 1.5 1.1.7 (for example) states: "Ensure that the etcd pod specification file permissions are set to 644 or more restrictive (Scored)"

A lot of checks (1.1.7 included) only check for very specific permissions:
https://github.com/aquasecurity/kube-bench/blob/master/cfg/cis-1.5/master.yaml#L140

Here, only '644', '640' and '600' are specifically checked. This results in file permissions '440'

[2019-12-13 22:41] robertojrojas commented on #538
Fixed by #539

[2019-12-13 22:41] #538 closed

[2019-12-13 22:41] robertojrojas commented on #536
Fixed by #540

[2019-12-13 22:41] #536 closed

[2019-12-13 22:42] robertojrojas commented on #535
Fixed by #537

[2019-12-13 22:42] #535 closed

[2019-12-20 11:04] lizrice commented on #528
It might be good to at least indicate when an entire section is skipped (because it's not relevant on that node). From CIS 1.5.0 it's no longer just master & node tests - there are now five different sections

[2019-12-20 11:14] lizrice commented on #415
This makes sense to me, but we try not to diverge from the CIS benchmark. I've raised a ticket against the benchmark: https://workbench.cisecurity.org/benchmarks/1370/tickets/9719

[2019-12-20 11:14] #415 closed

[2019-12-20 19:34] sowmyav27 opened #542 "Mismatch between the tests on kube-bench vs CIS Kubernetes Benchmark v1.4"
**as per Kube-bench -**  https://github.com/aquasecurity/kube-bench/blob/master/cfg/cis-1.4/master.yaml
[code]

**As per CIS Kubernetes Benchmark v1.4**

[code]

**Expected behavior:**
kube-bench should comply with CIS Kubernetes Benchmark v1.4

[2019-12-21 00:53] sowmyav27 opened #543 "Pod Security Policy tests are incorrectly marked as scored: false in cis-1.4"
The following PodSecurityPolicies tests are marked as scored: false in kube-bench v cis-1.4
[code]
https://github.com/aquasecurity/kube-bench/blob/master/cfg/cis-1.4/master.yaml

[code]
The same tests are marked as "Scored" in the CIX Kubernetes Benchmark v1.4

**Expected behavior:**
The above mentioned tests be marked scored: true

[2019-12-23 17:59] leodotcloud opened #545 "version not printed"
[code]

[2019-12-23 18:21] leodotcloud opened #546 "logtostderr is set to true always"
[code]

https://github.com/aquasecurity/kube-bench/blob/master/cmd/root.go#L105

[2020-01-03 18:01] lizrice opened #551 "Integration tests: why do pods fail sometimes?"
Running the integrations tests I see output like this:

[code]
I think these pods are running the kube-bench job, but why does the first of them fail? And why doesn't this matter for the integration test to succeed?

[2020-01-03 18:14] lizrice opened #552 "Integration tests: re-use the same Kind control plane for all tests"
in `TestRunWithKind` there are three different tests which all use the same Kind configuration. It's time consuming for the control plane to come up, so why not just set it up once and re-use it for all three tests?

Maybe you were thinking of future-proofing for the possibility of having several different Kind configs. There could be an outer loop which works through the Kind configs (of which th

[2020-01-06 09:18] #254 closed

[2020-01-07 09:43] lizrice commented on #225
After much debate we've reached the conclusion that this isn't something we want to support within the kube-bench project, without the underlying support of a native Kubernetes DaemonSet / CronJob combination. It's possible to do without that support, but it doesn't feel like a clean solution and we are concerned about maintaining it going forward.

[2020-01-07 09:43] #225 closed

[2020-01-07 13:24] lizrice commented on #545
Yes, I can reproduce this. However, the version is there if you run from the Docker image:
[code]
which suggests that the code for the `version` command itself is working, but somehow the version number is not being populated into the `cmd.KubeBenchVersion` variable by GoReleaser.

[2020-01-07 13:27] #546 closed

[2020-01-07 13:27] #543 closed

[2020-01-07 13:27] #542 closed

[2020-01-07 15:27] leodotcloud opened #557 "release cycle"
Hi Team,

Is it possible to have a biweekly release (bump the PATCH number of vMAJOR.MINOR.PATCH) for downstream projects to pick up the latest fixes quickly?

[2020-01-08 22:28] robertojrojas opened #558 "Get Kubernetes Version: DNS for Pod Unavailable"
There are times when Pods are deployed and running, but the DNS is not fully available for the `kubernetes.default.svc` to be resolvable.

This situation will cause the following error:

[code]

[2020-01-08 22:30] robertojrojas commented on #551
#558 is the most likely cause of this problem.

[2020-01-09 11:11] lizrice opened #559 "Integration tests: make it easier to see what has failed"
In the event of failure, the output of `TestRunWithKind()` is a giant string of the expected and actual output, both of which are hundreds of lines long. To figure out the difference, I have ended up copying these strings into files, replacing the `\n` with newlines, and doing a file diff. Would be nice if the test output showed this diff automatically.

[2020-01-09 14:57] #552 closed

[2020-01-09 14:59] robertojrojas commented on #558
Closing. Duplicate of #551

[2020-01-09 14:59] #558 closed

[2020-01-09 15:10] robertojrojas commented on #545
This should be fixed in PR #540

[2020-01-09 15:14] lizrice commented on #557
Hi @leodotcloud right now we're planning the next drop for end of January, would that meet your needs for now or would it be helpful to have one sooner?

I agree with you we need to get our house in order with better visibility on release timings

[2020-01-09 16:29] leodotcloud commented on #557
Really appreciate your support, it would be great if we can have one release before end of this month, since the previous one is one month old already.

[2020-01-13 11:29] mrueg opened #564 "Add option to ignore check-failures"
Some checks in the kube-bench might currently not be feasible for a user and the user wants to ignore them.
Currently the user can only specify all tests except for those via `--check`.
It would be good if kube-bench could provide a CLI argument, that allows to soft-fail on specified tests, so they still would run but would not alter the return code:

1.1.1.2 and 1.1.1.3 fail, a user could run:
``

[2020-01-17 15:51] fkhan6601 opened #566 "Return an exit code if any part of scored benchmark fails"
Currently, we kube-bench as part of a Jenkins Job. Since the kube-bench pod does not return an exit code, the job passes regardless of the results. For CICD, it would be helpful to have an option for an exit code similar to Trivy.

[2020-01-21 15:36] #559 closed

[2020-01-22 14:40] #541 closed

[2020-01-22 15:30] lizrice commented on #557
Cutting a release right now!

[2020-01-22 15:30] #557 closed

[2020-01-25 09:32] aelbarkani opened #568 "Openshift 4"
Hi guys,

Are there any plans to support Openshift 4 ?

Thanks !

[2020-01-27 16:12] lizrice commented on #564
Another option is to modify the test YAML, would that suit your needs?

[2020-01-27 16:18] lizrice commented on #568
We would love to support OpenShift 4 as soon as there is a hardening guide from Red Hat that we can implement

[2020-01-27 20:02] mrueg commented on #564
I'd like to avoid that, maintaining numbers for the command seems to be easier than patching the yaml from a user perspective (especially with a kube-bench container using a readonly rootfs, although I have to admit this can of course be changed at buildtime).

[2020-02-03 23:03] micahhausler opened #571 "[feature]: Support test override files"
Thanks for this tool! We at AWS have a change we’d like to suggest and would love community input and participation in implementing this.

The CIS Kubernetes Benchmark is a widely recognized guideline for operating and configuring Kubernetes and its various components, but is opinionated in how configuration is set in ways that not all hosted solutions of Kubernetes might agree with.

The proposal

[2020-02-04 16:55] lizrice commented on #571
I’m supportive of this idea. We always envisioned that people might want to edit the test files, but this could make it easier

[2020-02-06 07:37] leodotcloud opened #572 "target validation has hardcoded benchmark versions"
[code]

In the past, we copied cis-1.4 to rke-cis-1.4, modify the tests and run specifying the version as `rke-cis-1.4`, but this behavior is broken in the latest version of kube-bench due to the validation check using the hardcoded versions. https://github.com/aquasecurity/kube-bench/blob/v0.2.3/cmd/common.go#L389

Can we have a CLI toggle to disable this validation check? If this is acceptable,

[2020-02-06 19:03] leodotcloud commented on #572
I have figured a better/cleaner way, specify these targets in config.yaml following the pattern of the rest of the config. Will make a PR in few minutes.

[2020-02-06 23:37] leodotcloud commented on #571
Currently, we copy over the entire benchmark directory and edit the tests which are not relevant to us and use that with a different name (Reference: https://github.com/rancher/security-scan/tree/master/package/cfg/rke-cis-1.4). I like @micahhausler's idea of being able to override, this would make it easy to track the differences for a given provider.

[2020-02-07 10:36] mozillazg opened #574 "Running in a kubernetes cluster don't work as expected when check cis-1.4-1.1.8"
**k8s version**: 1.14.8
**kube-bench version**: latest (0.2.3)
**run command**: wget https://github.com/aquasecurity/kube-bench/blob/master/job-master.yaml && kubectl apply -f job-master.yaml
**problem**:  `--profiling=false` is exists but this check is not passed

https://github.com/aquasecurity/kube-bench/blob/77f66511e70c4b2c1f83988786e3de04ec7349db/cfg/cis-1.4/master.yaml#L120-L134

debug in k

[2020-02-08 07:58] mozillazg commented on #574
I have found the reason: the `exec.Command` will parse `grep` to `/usr/bin/grep` which is mount from host, the `/usr/bin/grep` can't be run in container, so all checks which use `grep` command will be failed :

https://github.com/aquasecurity/kube-bench/blob/77f66511e70c4b2c1f83988786e3de04ec7349db/check/check.go#L233-L235

[code]

[2020-02-09 06:55] leodotcloud opened #575 "New check result type: not applicable"
On certain platforms, few of the checks are not applicable and it doesn't make sense to skip them. Would it be possible to introduce this new type in kube-bench?

Example:
[code]

In a cluster create by [rke](https://github.com/rancher/rke), there is no pod spec file present at all, so the check is not applicable.

[2020-02-10 13:52] lizrice commented on #575
I'm not sure I follow why it doesn't make sense to skip a test if it's not applicable? That's exactly the kind of reason why we imagined someone might want to mark a test as "skip". Am I missing something?

[2020-02-10 14:01] lizrice commented on #574
The user may want to mount `/usr/bin` to get access to the `kubectl`/`kubelet` binaries for version detection (if they don't want to specify the version explicitly).

I am intrigued about why `/usr/bin/grep` shows up when you run `ls` in the container, but you can't execute it. What do you get from `ls -l /usr/bin/grep`?

I am open to the idea of changing the path to PATH to run the `grep` from in

[2020-02-10 14:25] robertojrojas commented on #574
@mozillazg good catch! and thanks for reporting this.

@lizrice I think this issue is same as this #501 and, to be consistent, we should fix it in the same manner as #508

@mozillazg would you like to submit a PR similar to #508? :)

[2020-02-10 15:15] mozillazg commented on #574
@robertojrojas Yes, I'll submit a PR later.

IMO, Maybe the idea of changing the path to PATH is better, in case of there are similar cases in feature or maybe there are other commands(for example: `stat`) provided by some user host OS(the user host is not under control) that can't be run in container(because of same reason as #501).

[2020-02-10 16:59] robertojrojas commented on #574
@mozillazg I'm not completely comfortable of changing the PATH as it would be difficult to predict what side effects it could bring with existing folks using the software at the moment. The absolute path is safer.

In the case of `stat`, it will not be fixed completely by either changing the PATH nor providing an absolute path to it. This is because, based on my research, on **Ubuntu 18+ `stat`**

[2020-02-10 23:56] mozillazg commented on #574
@robertojrojas 👌

[2020-02-11 13:42] mozillazg commented on #574
After testing I found that use absolute path can't fix same problem of `xargs` and `awk` (They are in `/usr/bin` but has been overwrited by mount from host). Maybe we need think again about the idea of change the PATH?

* Change PATH from default value `/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin` to `/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/local/sbin` via Dockerfile. Th

[2020-02-11 15:10] lizrice commented on #545
We think this is fixed - we'll know for sure when we cut the release! Let's close and reopen if it's still a problem after we cut 0.3.0

[2020-02-11 15:10] #545 closed

[2020-02-11 15:44] robertojrojas commented on #574
@mozillazg we agree with changing the PATH. Would you be able to work on that today? If not, it's not a problem. I can take care of it.

[2020-02-12 04:13] mozillazg opened #578 "Check boolean flag which has no value didn't work as expected"
The boolean flag can be set with no value, in this case it's value should be parsed as `true`, but in current it's parsed as other value.

For example:

The boolean flag `--peer-client-cert-auth` of etcd can be set with `--peer-client-cert-auth` or `--peer-client-cert-auth=true`, but the parsed result is different:

* `--peer-client-cert-auth` -> `--peer-client-cert-auth` (it should be parsed as `

[2020-02-12 09:40] mozillazg opened #580 "The check of cis-1.5-1.2.23 and cis-1.4-1.1.16 should accept any number"
https://github.com/aquasecurity/kube-bench/blob/77f66511e70c4b2c1f83988786e3de04ec7349db/cfg/cis-1.4/master.yaml#L257-L266
the current check limit the value of `--audit-log-maxage` must >= 30, but in CIS it accept any number > 0:

![图片](https://user-images.githubusercontent.com/485054/74321979-24845a00-4dbe-11ea-8204-7ece40f1d3d9.png)

[2020-02-12 10:21] mozillazg opened #582 "The check of cis-1.4-1.1.27 and cis-1.5-1.2.14 should check the value of --disable-admission-plugins"
Both cis 1.4 and cis 1.5 says that we should check the value of `--disable-admission-plugins` for [Ensure that the admission control plugin ServiceAccount is set]:

![图片](https://user-images.githubusercontent.com/485054/74325735-1a655a00-4dc4-11ea-802a-a22e2908736d.png)

<img width="638" alt="image" src="https://user-images.githubusercontent.com/485054/74396631-8d66e300-4e4d-11ea-9fc3-b134dcb845ee

[2020-02-12 10:35] mozillazg opened #583 "The etcd data directory related checkes support relative path"
https://github.com/aquasecurity/kube-bench/blob/77f66511e70c4b2c1f83988786e3de04ec7349db/cfg/cis-1.5/master.yaml#L283-L292

How about support the case that the value of `--data-dir` is relative path:

[code]

[2020-02-12 17:18] #574 closed

[2020-02-13 07:11] mozillazg opened #585 "Support config files which use .yml file extension"
Use .yml file extension as yaml file is a normal case, maybe we should support this case?

[2020-02-17 16:11] robertojrojas commented on #580
@lizrice Does this require review at the CIS Benchmark document level?

[2020-02-18 14:37] #582 closed

[2020-02-26 07:41] coolpalani opened #587 "Dashboard"
Could you add dashboard for view report post scanning completion.
It would be great to review all reports.

[2020-02-27 00:14] anguslees opened #588 "kubelet `--tls-*` checks don't validate the presence/absence of TLS (2.1.10)"
I think `2.1.10 Ensure that the --tls-cert-file and --tls-private-key-file arguments are set as appropriate` is not a useful test, and should be deprecated/removed.

I think the test is trying to verify a CIS item that apiserver->kubelet communication is always encrypted (good).  It does this by checking for the existence of these two `--tls-*` flags.  I think _without_ these flags (or config equi

[2020-02-27 15:09] CorentinDy opened #589 "Failed to get a set of executables needed for tests [apiserver/kubelet]"
**kube-bench** version: 0.2.3

[code]

Hi,
when I try to run any kind of benchmark using those commands on a GCP/GKE environnement :
`kube-bench node --benchmark cis-1.5 run --targets policies`
or with docker
`docker run --pid=host -v /etc:/etc:ro -v /var:/var:ro -t aquasec/kube-bench:latest master --version 1.13`

It returns me this error for the node :
`failed to get a set of executables needed

[2020-02-27 15:22] CorentinDy opened #590 "Failed to get a set of executables needed for tests [apiserver/kubelet]"
**kube-bench** version: 0.2.3

[code]

Hi,
when I try to run any kind of benchmark using those commands on a GCP/GKE environnement :
`kube-bench node --benchmark cis-1.5 run --targets policies`
or with docker
`docker run --pid=host -v /etc:/etc:ro -v /var:/var:ro -t aquasec/kube-bench:latest master --version 1.13`

It returns me this error for the node :
`failed to get a set of executables needed

[2020-02-27 15:22] CorentinDy opened #591 "Failed to get a set of executables needed for tests [apiserver/kubelet]"
**kube-bench** version: 0.2.3

[code]

Hi,
when I try to run any kind of benchmark using those commands on a GCP/GKE environnement :
`kube-bench node --benchmark cis-1.5 run --targets policies`
or with docker
`docker run --pid=host -v /etc:/etc:ro -v /var:/var:ro -t aquasec/kube-bench:latest master --version 1.13`

It returns me this error for the node :
`failed to get a set of executables needed

[2020-02-27 15:23] CorentinDy commented on #589
Sorry for duplicated, I had a bug with Github.

[2020-02-27 15:23] #589 closed

[2020-02-27 15:23] CorentinDy commented on #590
Sorry for duplicated, I had a bug with Github.

[2020-02-27 15:23] #590 closed

[2020-03-03 16:54] #578 closed

[2020-03-03 17:03] #585 closed

[2020-03-05 10:46] lizrice commented on #591
On GKE you can't access the master node, so it's expected that you can't run the master tests.
If you are specifying one or more targets (with `run --targets <target>`) you don't need to specify `node` (or `master`). I would expect you to see an error message like `Error: unknown flag: --targets` in this situation.

Let's get some more logs to find out why it's not finding the kubelet executable o

[2020-03-05 11:40] lizrice commented on #588
In kube-bench we implement the tests as written in the CIS Benchmark. If you'd like to suggest changes to the benchmark itself please join the [CIS community](https://workbench.cisecurity.org/communities/43) and raise a ticket or a discussion there. Thanks!

[2020-03-05 11:40] #588 closed

[2020-03-05 12:07] lizrice commented on #580
The kube-bench implementation should match what's in the benchmark as closely as possible, and although I do agree the benchmark is ambiguous, my reading of it implies a recommendation of at least 30 days in most circumstances. I don't think that a check allowing any positive value is in the spirit of the recommendation being made here.

I have raised a[ discussion in CIS](https://workbench.cisecu

[2020-03-05 12:09] #580 closed

[2020-03-05 14:07] CorentinDy commented on #591
Thanks for the answer !
the command: `kube-bench -v 3 --logtostderr --benchmark cis-1.5 run --targets policies` seems to be working !

[code]

But how can I verify that the result is relevant of my Kubernetes cluster ?

I only got **WARN** on all items

[2020-03-05 15:34] #551 closed

[2020-03-06 02:18] kaushalshriyan commented on #591
@lizrice I am also seeing the same output when I ran the below command against GKE Cluster

`kube-bench -v 3 --logtostderr --benchmark cis-1.5 run --targets policies`

`I0306 07:30:34.927822   44978 common.go:326] Kubernetes version: "" to Benchmark version: "cis-1.5"
I0306 07:30:34.927856   44978 run.go:40] Checking targets [policies] for cis-1.5
I0306 07:30:34.927997   44978 common.go:267] Using

[2020-03-06 19:10] kaushalshriyan commented on #591
@lizrice  Checking in again if you had a chance to look at the earlier post. Thanks in Advance.

[2020-03-09 08:56] Docteur-RS opened #595 "Need help understanding WARN state and scoring mechanism"
Hey !

I'm a bit confused about the [WARN] state...

Can someone explain the difference between "scored" and "not scored" ?

I also don't get how it influences the state ? **Scored** + **unable to test** creates what in the end ??
And the other way around is not clear either. The worst case that blows each theories that I've got so far is the **warn** + **scrored**. This makes no sense what so eve

[2020-03-10 09:56] lizrice commented on #595
"Scored" or "Not scored" comes from the CIS benchmark itself (so if you find any cases where our test files don't match the CIS benchmark, please raise an issue).

"Warn" means that the test needs manual attention: see https://github.com/aquasecurity/kube-bench#output

kube-bench might be unable to run a test because, for example, an executable that it needs to run is not available in the path.

D

[2020-03-10 10:01] lizrice opened #596 "Add GKE tests into table at top of README"
Now that we support the GKE-specific versions of the tests this should be covered in the README

[2020-03-10 10:02] lizrice commented on #591
This is as expected for tests marked as "manual" (ie. tests which can't be automated). See https://github.com/aquasecurity/kube-bench#output

We are open to ideas for clarifying the README, see #595. I'm going to close this as duplicate of that one.

You might also be interested in using the version of the tests matching the GKE-specific benchmark (we need to add this to the README #596).

[2020-03-10 10:02] #591 closed

[2020-03-10 17:18] Docteur-RS commented on #595
Thanks for your answer.

 I got the following From the CIS documentation :

**Scored**
* Failure to comply with "Scored" recommendations will decrease the final benchmark score.
Compliance with "Scored" recommendations will increase the final benchmark score.

**Not Scored**
* Failure to comply with "Not Scored" recommendations will not decrease the final
benchmark score. Compliance with "Not Scor

[2020-03-10 18:13] #575 closed

[2020-03-11 12:26] lizrice commented on #564
Another idea: `--skip` which has a comma separated list of tests that should be treated as if they were marked with "skip" - wdyt?

[2020-03-11 14:33] mrueg commented on #564
skip works for the use case as well. soft-fail would allow to make that list smaller and smaller over time.

[2020-03-11 15:48] #596 closed

[2020-03-16 15:33] pulberg opened #598 "CIS v1.5 Test 4.1.8 marked as FAIL but file perm/ownership is correct."
Hi, thanks so much for the kube-bench tool, it has been really helpful to us.  I am trying to understand one of the tests that reports FAIL, but the file check comes back correctly.

My k8s platform is Rancher -

OS - Ubuntu 18.04
Rancher - v2.3.5
k8s - v1.17.2
kube-bench - v0.2.3

I grabbed the kube-bench .deb release and installed, here is the cmd I am running on a "worker" node -

`kube-bench -

[2020-03-16 19:27] lizrice commented on #598
Hi @pulberg thanks for reporting this.

We just merged a change #565 to master that changes the way we do file permissions checks, so it would be great if you could clone the master branch and try with that. If you still see the problem please could you run with `-v 10 --logtostderr` and send the log output?

[2020-03-16 19:29] lizrice commented on #564
I think we should go with `—skip` because it’s consistent with the terminology we use inside the YAML file, and it would have the same effect - kube-bench would just not run a test if it’s marked as `skip` either in YAML or with this parameter

[2020-03-16 22:16] pulberg commented on #598
Grabbed Master and built, right away I see something that may be the actual issue.  There is a difference between what you are checking for in test 4.1.8 and where my `--client-ca-file` is -

Log from kube-bench -

`I0316 17:28:54.261858   18457 check.go:192] Check.ID: 4.1.8 Command: "/bin/sh -c 'if test -e /etc/kubernetes/pki/ca.crt; then stat -c %U:%G /etc/kubernetes/pki/ca.crt; fi' " TestResult

[2020-03-21 13:47] mozillazg opened #599 "Bump a new version?"
All issues of v0.3.0 (https://github.com/aquasecurity/kube-bench/milestone/6) have been fixed/closed, maybe it's time to bump a new version?

[2020-03-22 11:25] Anuj-B opened #600 "Getting issue in running Kube-Bench"
Hi ,

I am trying to run Kube-Bench on master node but getting below  issue
"[FAIL] No config settings for master"
/etc/kubernetes/config/ doesn't exist in our setup .

Please suggest the changes required to run tool

[2020-03-29 20:19] hlarubi commented on #599
Hi,

Would the bump include the support for newer Kubernetes versions by any chance (1.16 maybe?)?

Thanks!

[2020-04-03 10:23] lizrice commented on #598
We should enhance `kube-bench` to search for the right config file live, as described in the spec. But meanwhile, a workaround is to configure the `node.kubelet.cafile` in `cfg/config.yaml` to include `/etc/kubernetes/ssl/kube-ca.pem` in the list. Could you give that a try?

[2020-04-06 10:55] lizrice commented on #599
@mozillazg thanks I completely forgot we hadn't already done this! I have just tagged it

@hlarubi 1.16 Kubernetes is covered by the 1.5.* version of the CIS Benchmark

[2020-04-06 10:55] #599 closed

[2020-04-06 11:00] lizrice commented on #600
This error tells us that kube-bench is not finding the config file which by default is expected to live at `cfg/config.yaml`

Please could you indicate the command you used to run kube-bench?

[2020-04-08 09:51] Anuj-B commented on #600
Hi ,

I am using below commands one by one .

1.     kube-bench master

2.     kube-bench node --version 1.13

3. kube-bench node --benchmark cis-1.4

BR,

Anuj

On Mon, Apr 6, 2020 at 4:30 PM Liz Rice <notifications@github.com> wrote:

[2020-04-09 12:08] lizrice commented on #600
Do you have the `cfg` directory in the location where you are running those commands?

[2020-04-09 12:10] Anuj-B commented on #600
Yes, directory is there and it is having config.xml

On Thu, 9 Apr 2020, 17:38 Liz Rice, <notifications@github.com> wrote:

[2020-04-13 15:51] karthiksiva-github opened #603 "--outputfile flag for kube-bench is not working"
Hi,

./kube-bench --outputfile doesn't seem to work. I find two issues here

1) json log is not getting generated in the defined path
2) There seems to be no validation done for the path provided in the outputfile.

Kindly check and let know when the issue will be resolved .

Thanks,
Karthik

[2020-04-14 07:26] mozillazg commented on #603
`--outputfile` should use with `--json` like this: `./kube-bench  --json --outputfile result.json`

[2020-04-14 08:04] mozillazg opened #604 "Support run tests which have complex shell commands"
There are some scored item have been marked `manual` because of it need complex shell commands to run test but kube-bench don't support it. Change to support run complex shell commands can  avoid this issue and fix issues like https://github.com/aquasecurity/kube-bench/issues/598 too.

kube-bench run tests via parse test command as a simple single line command then run it, this way don't support c

[2020-04-14 17:50] karthiksiva-github commented on #603
Thanks @mozillazg  . It worked.. However the help menu can be updated to avoid confusions.

[2020-04-14 20:09] karthiksiva-github commented on #603
Hi @mozillazg,

./kube-bench --json --outputfile /tmp/result1.json is not logging all the benchmark checks in /tmp/result1.json..
Ideally all the info displayed as part of ./kube-bench --json should be logged in /tmp/result1/json as well. But it doesn't seem to happen.

[2020-04-15 01:28] mozillazg opened #606 "Add integration tests for cis 1.3 and cis 1.5"
It's useful when we want to do refactoring for some codes.

[2020-04-15 09:05] mozillazg commented on #603
@karthiksiva-github Looks like it is a bug.

[2020-04-15 11:32] karthiksiva-github commented on #603
Not sure in which release will it be fixed.. Anyway @mozillazg thanks for confirming

[2020-04-15 13:33] mozillazg commented on #603
@karthiksiva-github You can use `./kube-bench --json > result.json` as a workaround.

[2020-04-16 22:03] ramesh-ramani opened #608 "Unable to detect running programs for component "apiserver""
Installed this as a pod in my cluster and I seem to be getting this error. Not sure why. Can someone help? I've used the same yaml file as the jobs-eks.yaml file. Just a heads-up though, I've applied a PSP to the pod's namespace. The PSP has dropped all capabilities, runs as user 999, alloweprivilegeEscalation: False, has a serviceaccount which has permissions to only use the PSP and nothing else.

[2020-04-18 07:55] mozillazg commented on #608
`hostPID=true` is needed.

[2020-04-19 17:45] ramesh-ramani commented on #608
I have included that in the pod spec but that does not seem to help either. Here's the Pod spec:

[code]

[2020-04-20 00:18] mozillazg commented on #608
@ramesh-ramani What is your psp spec? It looks like the value of `readOnlyRootFilesystem` field is not be set as `false`, the kube-bench need this permission to write logging to tmp file:

[code]

You can set `readOnlyRootFilesystem: false` to your psp or change the command of container to `["kube-bench", "--logtostderr=true", "--version", "1.11"]`

BTW, the latest version of kube-bench is v0.3.0

[2020-04-20 16:44] ramesh-ramani commented on #608
Thanks @mozillazg ! Setting the `readonlyRootfilesystem: false` made it work. But this is not great from a security standpoint. Is there a way to scope it down?

[2020-04-21 00:13] mozillazg commented on #608
@ramesh-ramani There is another way to fix this issue instead of change psp: change the command of container to `["kube-bench", "--logtostderr=true", "--version", "1.11"]` (add new args `--logtostderr=true`)

[code]

[2020-04-21 13:26] ramesh-ramani commented on #608
This worked. Thanks @mozillazg !

[2020-04-21 13:26] #608 closed

[2020-04-23 22:07] smijolovic commented on #532
Actually it should be the minio SDK.  The minio API is an open S3 specification - AWS S3 api is AWS specific.

[2020-04-26 13:52] krangerich opened #613 "unable to get benchmark version. error: config file is missing 'version_mapping' section"
Download kube-bench_0.3.0_linux_amd64.tar.gz and extract.

1. Run `./kube-bench master` as stated in documentation:

unable to determine benchmark version: config file is missing 'version_mapping' section

2. Run `./kube-bench run`:

unable to get benchmark version. error: config file is missing 'version_mapping' section

So either version 0.3.0 is broken or the documentation of a minimum working

[2020-04-29 13:07] peterdewinter opened #614 "Openshift hardening guide"
In the documentation, a reference is made towards the Openshift hardening guide for version 3.11 or 3.10.
Where can I find the benchmark/guide document for this? Is it available for download (Have a red hat access account)?

[2020-04-29 20:16] gliptak commented on #613
https://github.com/aquasecurity/kube-bench/issues/600

[2020-04-29 20:17] gliptak commented on #600
try overriding ```cfg``` location

[code]

[2020-05-04 18:51] krangerich commented on #613
This solution works, but then the documentation should be fixed. A basic example has to work out of the box.

[2020-05-07 01:00] Richahasija opened #619 "ETCD results not showing"
I am running kubernetes version Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.3"
Server Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.3", Platform:"linux/amd64"}

I am trying to run kube bench in a Kubernetes cluster via below command:
kubectl apply -f job.yaml
Kubernetes logs are not showing etcd and Control Plane Configuration results(i.e. subsection 2 an

[2020-05-07 12:35] mozillazg commented on #619
@Richahasija  The etcd is running on master, it looks like you should use `kubectl apply -f job-master.yaml`

[2020-05-07 13:56] Richahasija commented on #619
@mozillazg : I already did that as well and it's only checking for subsection1. One thing to note is my etcd has configuration file  path /etc/etcd/etcd.conf.
I also think it is taking file as /etc/kubernetes/manifests/etcd.yaml  instead of /etc/etcd/etcd.conf.
Tried updating /cfg/cis-1.5/config.yaml . But issue remains same, It's not checking for sub section 2 and 3.

[2020-05-09 05:52] mozillazg commented on #619
https://github.com/aquasecurity/kube-bench#bugs

@Richahasija What is the output when open the debug mode?

[2020-05-11 15:35] Richahasija commented on #619
@mozillazg : I have ran the command. But not sure still as to what is the issue. Attaching the issue for your kind reference.
[etcd_error.txt](https://github.com/aquasecurity/kube-bench/files/4610541/etcd_error.txt)

[2020-05-11 16:00] lizrice commented on #619
@Richahasija you need to add the `-v 10 --logtostderr` options to the command configured in the job-master.yaml file, and send the log output from that Kubernetes job

[2020-05-11 17:22] Richahasija commented on #619
@lizrice : Have ran it again as per mentioned above. It seems like it is taking default config as  /etc/kubernetes/manifests/etcd.yaml  instead of /etc/etcd/etcd.conf.
But not sure, how to resolve it

[ETCD_Error_new.txt](https://github.com/aquasecurity/kube-bench/files/4611109/ETCD_Error_new.txt)

[2020-05-12 22:39] neha-viswanathan opened #620 "Why are some of the tests related to Kubernetes policies marked as `manual`?"
I was wondering why some of the tests related to policies were marked as `manual`.  My understanding is that the tests are manual for now and that these tests will be automated at a later point in time.
Is my assumption correct? Please correct me if I'm wrong. Thanks!

[2020-05-13 10:24] danielpacak opened #622 "Invalid JSON output"
When I was parsing a kube-bench --json output I realized that it's not a valid JSON. Apparently the CIS Benchmark Sections are string concatenations of smaller JSON Objects:

[code]

Shouldn't we return a valid JSON Array:

[code]

Or a JSON Object?

[code]

Maybe we could also sort the sections by id? Currently section 3 might appear before section 2; probably because of the Go map data struct us

[2020-05-14 08:50] yaminisridaran opened #623 "Minimize the admission of containers with allowPrivilegeEscalation (Scored)"
Kube-bench tool displaces warning for **Minimize the admission of containers with allowPrivilegeEscalation (Scored)**.  I have configured one psp in my k8s cluster and psp has allowPrivilegeEscalation is set to false. I have deployed job.yaml in my cluster.
spec:
    allowPrivilegeEscalation: false
    allowedCapabilities:
    - NET_ADMIN

Can anyone please let me know whether I am missing anythin

[2020-05-14 09:08] nidiculageorge opened #624 "How to install Kube-bench commands in Windows or Ubuntu machine"
nidicula@TOPS-ONCALL:~$ kube-bench master
kube-bench: command not found

Could someone help

[2020-05-14 12:42] Richahasija commented on #619
@lizrice & @mozillazg: Any update on the issue.

[2020-05-15 11:24] mozillazg commented on #624
@nidiculageorge You can download it from release page: https://github.com/aquasecurity/kube-bench/releases

BTW, kube-bench don't support Windows yet.

[2020-05-20 17:30] #606 closed

[2020-05-22 08:44] nidiculageorge commented on #624
How can we run againsta cluster, for CIS benchmark checking

[2020-05-24 01:31] mozillazg commented on #624
@nidiculageorge Just run ./kube-bench or use Docker:

https://github.com/aquasecurity/kube-bench#installing-from-sources
https://github.com/aquasecurity/kube-bench#installing-from-a-container

[2020-05-24 01:38] mozillazg commented on #623
@yaminisridaran Because the `kube-bench` doesn't check the psp yet, this check is marked as `manual`:

https://github.com/aquasecurity/kube-bench/blob/master/cfg/cis-1.5/policies.yaml#L97-L103

[2020-05-24 01:55] mozillazg commented on #620
@neha-viswanathan There are two reason:

* Some recommendations(for example: `5.1.4 Minimize access to create pods`) don't include tests(which can't test via command) in document of CIS Kubernetes Benchmark.
* Some recommendations(for example: https://github.com/aquasecurity/kube-bench/issues/623) need `kube-bench` to access api server to run test, but `kube-bench` don't support it yet.

[2020-05-24 06:57] nidiculageorge commented on #624
Hi @mozillazg

When I try to run the kube-bench installation in ubuntu i am getting the following error

![image](https://user-images.githubusercontent.com/43850474/82747729-ce11b900-9db9-11ea-8c12-c1688f9747e9.png)

I am running the file from the location in which the package is there

[2020-05-25 06:10] nidiculageorge commented on #624
Hi @mozillazg

When i try to run the following i could see the following error

kube-bench master

failed to get a set of executables needed for tests: unable to detect running programs for component "kubelet"

[2020-05-27 08:48] lizrice opened #625 "Support for Rancher 2.2 hardening guide"
We could add support for the Rancher 2.2.x hardening guide. This would require a set of test files under a new `cfg/rancher-2.2` directory.

[2020-05-29 14:41] #620 closed

[2020-06-03 09:49] lizrice commented on #623
I hope this answers your question (thanks @mozillazg!)

[2020-06-03 09:49] #623 closed

[2020-06-03 09:50] #427 closed

[2020-06-03 09:54] lizrice commented on #614
Please contact Red Hat about this

[2020-06-03 09:54] #614 closed

[2020-06-03 09:56] lizrice commented on #613
We need to enhance the documentation to point out that not only do you need the executable downloaded, but also the config files and tests

[2020-06-03 11:27] lizrice commented on #619
In the `cfg` directory you should see a `config.yaml` file which includes a section like this:

[code]

The `confs` part of this is a list of locations that kube-bench will check for, taking the first one that exists as the location of the etcd config file. But from the logs, it's not finding any of those files and it's falling back to the default config location (specified by `defaultconf` at the

[2020-06-03 16:26] Richahasija commented on #619
@lizrice : Thanks for updating. After updating the job-master.yaml configuration, it seems etcd new configuration is updated but still kubernetes logs are not showing etcd and Control Plane Configuration results(i.e. subsection 2 and 3 of CIS_Kubernetes_Benchmark_v1.5).
Attaching log file for your kind reference.
[Etcd_03_06_2020.txt](https://github.com/aquasecurity/kube-bench/files/4724720/Etcd_0

[2020-06-06 17:44] serverbaboon opened #627 "Is it possible to produce ARM64 images of KubeBench"
Would it be possible to produce ARM64 images to allow easy testing of arm Clusters in AWS and K3S cluster in edge configurations (ahem Rapsberry PI's ).

[2020-06-11 08:30] illyaMs commented on #564
Trying to figure out the draft implementation. Some questions so far (would be nice to have feedback/answers from maintainers):

1. Do I get it right that a proper place to introduce this new logic is the [filtering predicate](https://github.com/aquasecurity/kube-bench/blob/35cf28c140bdb6f84c3a29749780a08594300f69/cmd/common.go#L31)?
1. I see that having both `--group` and `--check` options at the

[2020-06-20 14:59] rasheedamir commented on #568
any updates on this @lizrice ?

[2020-06-22 07:45] #604 closed

[2020-06-23 17:02] #627 closed

[2020-06-24 09:13] #603 closed

[2020-06-24 09:13] #622 closed

[2020-06-29 20:25] medined opened #632 "Test 1.1.7 (etcd spec file permissions) Fail Because ETCD is on separate server."
The file `/etc/kubernetes/manifests/etcd.yaml` does not exist on my master node because `etcd` is running on a separate server. I don't know the correct way to determine this situation but my `kube-apiserver` process has its `--etcd-servers` parameters pointing to the etcd0 server.

This same issue exists for test 1.1.8.

Perhaps a file existence check so the two tests can be skipped?

[2020-07-05 06:31] mozillazg opened #634 "Search config or bin file via ps when possible"
TODO:

* [ ] `$apiserverbin`
* [ ] `$apiserverconf`
* [ ] `$controllermanagerbin`
* [ ] `$controllermanagerconf`
* [ ] `$etcdbin`
* [ ] `$etcdconf`
* [ ] `$kubeletbin`
* [ ] `$kubeletcafile`
* [ ] `$kubeletconf`
* [ ] `$kubeletkubeconfig`
* [ ] `$kubeletsvc`
* [ ] `$nodesvc`
* [ ] `$proxykubeconfig`
* [ ] `$proykubeconfig`
* [ ] `$schedulerbin`
* [ ] `$schedulerconf`

[2020-07-05 06:37] mozillazg opened #635 "Take a time to checking if there is any scored check which hasn't an audit command when possible"
There are some scored checks not have an audit command when it is possible been check via command. For example:

https://github.com/aquasecurity/kube-bench/blob/1b5b6c2afe5fb1e0060ae96346f77484842cef75/cfg/cis-1.5/node.yaml#L100-L106

And some scored checks have been marked as `manual` even if it has an audit command. For example:

https://github.com/aquasecurity/kube-bench/blob/1b5b6c2afe5fb1e006

[2020-07-07 06:44] zhaocheng173 opened #636 "failed to get a set of executables needed for tests: unable to detect running programs for component "kubelet""
May I ask what the problem is and how to solve it

[2020-07-07 06:53] zhaocheng173 commented on #636
I used the YAML of K8S-Job to do this

[2020-07-07 06:55] zhaocheng173 commented on #636
The use of job.yaml

[2020-07-07 07:10] zhaocheng173 commented on #636
The 1.18.3 cluster deployment I used reported the following error
[code]

[2020-07-08 07:22] #598 closed

[2020-07-08 20:28] subodhp commented on #225
Hi @lizrice - How do you suggest one should run the kube-bench in periodic manner in current state in k8s cluster?

Thanks,
Subodh

[2020-07-09 04:43] Bujail opened #637 "Not writing logs into output file."
kube-bench not writing logs into output file. I ran kube-bench as follows.

kube-bench master --version 1.15 --log_dir /tmp/results --outputfile /tmp/results/output.xml

Am I missing anything here?

[2020-07-09 11:56] lizrice commented on #636
kube-bench uses `ps` to detect the running `kubelet` executable so that it can see what parameters it is running with. From this message, it's unable to see a running `kubelet` process. Please can you re-run the job with `-v 3` to get additional logs? You will need to modify the command field in job.yaml e.g. ["kube-bench", "-v", "3"]

[2020-07-10 02:09] zhaocheng173 commented on #636
Hi, my process is running. I have tried that 1.14 version can run job, but it failed to run in 1.18.3 version. I don't know why
[code]

[code]
[code]

[code]

[2020-07-14 14:36] kwmonroe opened #642 "node test for kubelet cafile fails in posix shells"
#598 was raised to fix an issue where `kubelet --client-ca-file` wasn't being honored; that was fixed in #633.

The spirit of the fix is great, but double brackets (`[[ -z $foo ]]`) don't work for POSIX shells.  This is a problem for systems that symlink `/bin/sh` to something like `/bin/dash`:

[code]

Simpler test:
[code]

[2020-07-15 01:15] mozillazg commented on #642
@kwmonroe Thanks for your catch. I'll use https://github.com/koalaman/shellcheck to double check the audits before send PR in the future.

[2020-07-15 13:41] #613 closed

[2020-07-15 14:23] mozillazg commented on #636
@zhaocheng173

[code]

should change the `command:` to

[code]

then re-run the job.yaml and paste the logs of job, you may find the reason of error.

read more: https://github.com/aquasecurity/kube-bench#troubleshooting

[2020-07-16 02:28] zhaocheng173 commented on #636
It turned out to be a mess

[code]
[code]

[2020-07-16 15:57] sgandon opened #644 "[EKS] running kubebench is only showing Node results"
I am not sure if  this is something I did but I am simply running the job-eks.yaml but unlike the documentation I did not rebuilt the image I just used the public one from docker hub.
[code]
 when running this job I only get a results from the `Node` config (3.X)
Looking at the eks-1.0 config there are multiple categories of tests, how to run them ?
I have tried to run those following the root doc

[2020-07-17 10:37] zhaocheng173 commented on #636
Why can't version 1.18 K8S be tested with Kube-Bench?

[2020-07-20 08:06] yoavrotems commented on #637
Hey, are sure the /tmp/results directory is exist?
When I run it I get the logs, so could make sure the dir is exist? and if so maybe provide more information?  (Your env, run it with -v=3, and etc)

[2020-07-21 06:56] mohag opened #646 "Benchmark check 4.2.4 fails if config file is present and readOnlyPort is not present"
See: https://github.com/aquasecurity/kube-bench/blob/master/cfg/cis-1.5/node.yaml#L226

The default for `readOnlyPort` is `0` ([See documentation](https://pkg.go.dev/k8s.io/kubelet/config/v1beta1?tab=doc))

[code]

The 1.5 benchmark states:

The check fails to implement the "if there is a `readOnlyPort` entry in the file" part.

The benchmark also mentions the defaults:

If the setting is passed i

[2020-07-21 09:46] yoavrotems opened #647 "Multiple values flag"
Add the functionality of multiple line use like we do in bench-common https://github.com/aquasecurity/bench-common/blob/master/check/check.go#L105 .
This functionality checks every line from the audit output as a single test.

[2020-07-21 13:18] fert-f commented on #644
When I accessed CLI to troubleshoot this bug I tried:
`kube-bench --benchmark eks-1.0 run --targets managedservice
The specified --targets "managedservice" does not apply to the CIS Benchmark eks-1.0 \n Valid targets []`
while:
[code]

[2020-07-21 14:43] #642 closed

[2020-07-22 13:35] thehunt33r commented on #644
This should be addressed once this is merged: https://github.com/aquasecurity/kube-bench/pull/648

[2020-07-24 17:32] hugohdz89 commented on #568
Hello @lizrice not sure if this helps

https://bugzilla.redhat.com/show_bug.cgi?id=1756602

**A new version of the OpenShift 3.11 Security Guide has been updated and published for OpenShift 4.5. It was also back ported to OpenShift 4.4**. This content represents significant enhancements from the 3.11 guide, including coverage of:

* Red Hat Enterprise Linux CoreOS (RHCOS)
* Hardening
* Red Hat Uni

[2020-07-28 13:01] lizrice opened #649 "Support type: "skip" for a group of checks"
At the moment the user can skip an individual check by setting it's `type` field to `"skip"`. We could extend this support to the group level so that it's easy to skip a whole group of tests.

[2020-07-28 22:09] distortedsignal opened #650 "Test 1.2.13 Warns when PSP is included in --enable-admission-plugins instead of Passing?"
From the CIS 1.5.1 guide:

---

# 1.2.13 Ensure that the admission control plugin SecurityContextDeny is set if PodSecurityPolicy is not used (Not Scored)

### Profile Applicability

* Level 1

### Description

The SecurityContextDeny admission controller can be used to deny pods which make use of some SecurityContext fields which could allow for privilege escalation in the cluster. This should be

[2020-07-29 14:40] mozillazg commented on #650
@distortedsignal Because the `kube-bench` only checked the `SecurityContextDeny` plugin not check the `PodSecurityPolicy` :

https://github.com/aquasecurity/kube-bench/blob/ea4eaa6fd51f3a157d1309f644ea8021d369f109/cfg/cis-1.5/master.yaml#L519-L534

[2020-07-29 15:11] distortedsignal commented on #650
Looks like #651 should fix this.

[2020-08-02 15:01] yoavrotems commented on #637
OK since I don't see the problem or able to reproduce it I'm closing the issue,
please let us now if its still an issue and post some more information.

[2020-08-02 15:01] #637 closed

[2020-08-02 23:27] yashaswee commented on #636
I am having the same issue.

[2020-08-03 07:31] #647 closed

[2020-08-03 07:38] #650 closed

[2020-08-03 07:47] yoavrotems commented on #600
Hi ! did @gliptak  answer worked for you?

[2020-08-03 17:16] lizrice opened #655 "Easily-missed bad version check"
If kube-bench is using `kubectl` to auto-detect the running version of kubernetes, but the kubeconfig isn't available, the version check will fail and kube-bench falls back to a default of kubernetes 1.11.

I found this easily by running kubernetes on a vagrant machine. The kubeconfig file was installed for the user called vagrant, but running `kube-bench` as root meant kubeconfig was not set up.

[2020-08-03 22:45] gliptak commented on #600
@yoavrotems I didn't run into this. just pointing a fellow traveler

[2020-08-04 02:33] Anuj-B commented on #600
Hi ,

It didn't work for me .

BR,
Anuj

On Tue, Aug 4, 2020 at 4:15 AM Gábor Lipták <notifications@github.com>
wrote:

[2020-08-04 08:04] yoavrotems opened #658 "Make testitem-set to be default to true"
In almost every test we have "set: true".
With making it default true the yaml will be neater

[2020-08-04 08:10] yoavrotems opened #659 "1.2.26 test is always passing"
https://github.com/aquasecurity/kube-bench/blob/master/cfg/cis-1.5/master.yaml#L745
need to change the set there.

[2020-08-04 08:11] yoavrotems opened #660 "Add constraints to groups and test_item."
Add the constraints functionality as we have in bench-common, to a single test in "test_item" and the entire group as well.

[2020-08-04 08:35] lizrice opened #661 "Auto-detect platform"
Now that we have dedicated CIS Kubernetes benchmarks for EKS and GKE, it would be good if kube-bench auto-detected these platforms and ran the appropriate versions of the tests

[2020-08-04 08:42] #595 closed

[2020-08-04 09:27] yoavrotems commented on #600
Hey could you please run it again with -v 3 --logtostderr and submit here ?

[2020-08-06 08:59] lizrice opened #666 "Support for CIS 1.6.0 benchmark"
See also this [discussion](https://github.com/aquasecurity/kube-bench/discussions/664)

[2020-08-06 10:49] yoavrotems commented on #659
![image](https://user-images.githubusercontent.com/12915002/89523347-5c0f1480-d7eb-11ea-84f2-18f9077b4b4c.png)
@lizrice  I think maybe this test should be manual, since is changing per system, and there isn't any recommendation but just an example of what to set (300).
WDYT?

[2020-08-06 11:04] yoavrotems commented on #655
PRs #656 and https://github.com/aquasecurity/kube-bench/pull/657 solves this issue

[2020-08-06 11:04] #655 closed

[2020-08-06 14:25] #659 closed

[2020-08-08 16:29] rifelpet opened #667 "Support detecting etcd arguments via env vars"
Kops uses environment variables to configure etcd arguments like cert-file and key-file. See all of the `ETCD_*` env vars documented [here](https://etcd.io/docs/v3.4.0/op-guide/configuration/) as well as this example:

https://github.com/kopeio/etcd-manager/blob/26ca2ad568e9819f04cf00f43d79bd76c5f9dfb3/pkg/etcd/etcdprocess.go#L229-L241

Currently kube-bench reports that these arguments are not set

[2020-08-10 09:10] #658 closed

[2020-08-10 09:25] lizrice opened #669 "Support CIS v1.5.1"
See [this discussion](https://github.com/aquasecurity/kube-bench/discussions/663)

[2020-08-10 16:01] simar7 opened #671 "EKS "exec format error""
_Originally posted by @manjo-git in https://github.com/aquasecurity/kube-bench/pull/628#issuecomment-671417026_

I have EKS deployed with m6.large (ARM64), and I am using  image: aquasec/kube-bench:latest in my jobs-eks.yaml and I get an "exec format error". My jobs-eks.yaml can be found here: https://pastebin.ubuntu.com/p/4MvfX5XHBh/

$ kubectl get pods --all-namespaces
NAMESPACE     NAME

[2020-08-10 16:22] lizrice commented on #671
Aha, is this on Graviton2 machines in AWS?

[2020-08-10 16:24] simar7 commented on #671
hi @manjo-git would you know?

[2020-08-12 13:32] #646 closed

[2020-08-12 18:57] #669 closed

[2020-08-12 20:23] manjo-git commented on #671
Yes this is on Graviton2 system in AWS.

[2020-08-14 05:30] ashishgavali10 commented on #636
I am also getting same error while running all checks using ./kube-bench command.
I installed kube-bench from source using go.
Any progress on this issue?

[2020-08-17 20:51] manjo-git commented on #671
Hello, is there any update on this one? I would like to give it a go on the graviton2 that just went GA on AWS today. https://aws.amazon.com/blogs/containers/eks-on-graviton-generally-available/

[2020-08-19 11:00] lizrice opened #679 "Retire CIS 1.3 and 1.4 tests"
As discussed in #670

[2020-08-19 18:20] ankitsrao commented on #667
I agree with @rifelpet . Maybe this is the reason why, for the etcd policies, the status remains FAIL, even though we follow the remediation procedure.
Anyone else facing the same issue?

[2020-08-19 18:37] ankitsrao opened #680 "Unable to fetch compliance status for few of the CIS recommendations"
**What steps did you take and what happened:**

1) I'm running the kube-bench utility on my Kubernetes clusters (deployed on AWS EC2 instances), and the scan gets complete, but few of the recommendations seem missing.

Command used : kube-bench --benchmark cis-1.5

Below are the CIS control IDs (CIS Kubenetes Benchmark 1.5.0), which do not come up in the kube-bench scan:

- 1.1.9, 1.1.10, 1.1.20,

[2020-08-20 08:05] lizrice commented on #680
Hi @ankitsrao, please could you attach the output you do get? If you can run again with parameters `-v 3 --logtostderr` that would be even better.

Are you running on a master or worker node?

[2020-08-20 08:41] lizrice commented on #667
I've raised a ticket about this on the CIS benchmark too because the recommendations should really reflect this as well.

Getting the environment variables for another process is possible via the `/proc` directory on the host but this is not going to be a trivial change to make. (Unless there is a way to query etcd's configuration over an API?)

In the mean time you may prefer to [skip](https://gi

[2020-08-24 17:00] ankitsrao commented on #680
Hi @lizrice ,

Actually, I would like to add some more details. So basically, the status for these policies appear WARN.
It is mentioned in the documentation that [WARN] means this test needs further attention, for example it is a test that needs to be run manually. So, while for many of the recommendations, that cleared my doubt, but for some I've the below queries:

Just to showcase and example,

[2020-08-26 06:52] stefanszasz commented on #636
I got the same error on EKS (1.17) and it turned out I omitted ```hostPID: true``` in the kube-bench job spec.

[2020-08-27 16:40] iahmad-khan commented on #564
Hi,

Do we need to rebuild the docker image for custom skip configurations? I am deploying to Kubernetes using job spec , is there a way to mount those skip configurations as configMap?

thanks.

[2020-08-29 07:12] mozillazg commented on #680
@ankitsrao

No, 1.2.10, 1.2.12, 1.2.13 are marked as WARN because of kube-bench run test failed not only because of they are marked as "Not Scored" by CIS.

No, kube-bench try to run test for all recommendations when possible (all tests can be found in https://github.com/aquasecurity/kube-bench/tree/master/cfg/cis-1.5).

The state will be marked as WARN in the below case:

* If the test is Manual（

[2020-08-30 07:16] #572 closed

[2020-08-30 20:02] iahmad-khan commented on #532
Hi, is there any update here , I would like the reports to be uploaded somehere like s3, maybe in html format , so that I can serve them as static pages.

[2020-08-31 08:01] dannysauer opened #684 "makefile does not work with current kind kubeconfig handling"
**What steps did you take and what happened:**

I followed the `kind` development instructions in README, and kube-bnch did not run, because current `kind` no longer supports the `get kubeconfig-path` command (https://github.com/kubernetes-sigs/cluster-aepi/issues/1796).

**What did you expect to happen:**

I expected kube-bench to run in a kind cluster. :)

**Environment**

kube-bench: master
kin

[2020-08-31 12:06] triqster opened #686 "Find in tests 1.1.[20-21] not using a trailing slash resulting in errors"
**What steps did you take and what happened:**
When running a test to validate the correct file permissions on /etc/kubernetes/pki/ it results in the following error:
[code]
This happens on linux and when using the container.

**What did you expect to happen:**

**Environment**

Docker container: kube-bench:latest tag, kubernetes 1.17

**Anything else you would like to add:**
Testing the following

[2020-09-02 14:28] #684 closed

[2020-09-02 16:23] lizrice commented on #671
@manjo-git would you have time to try out this image that I've pushed to Docker Hub?  `aquasec/kube-bench:8780c8e` It should have both arm64 and amd64 support:

[2020-09-03 16:15] ankitsrao commented on #680
Thank you @mozillazg for the info.
Will surely revaildate my results based on these details.

[2020-09-03 17:19] #686 closed

[2020-09-07 13:36] yoavrotems opened #694 "No value in expacted_result"
When running a random test, let say 1.1.12 and it passing you will get the expected_result value field but when its failing it will be missing:
![image](https://user-images.githubusercontent.com/12915002/92392448-f930d600-f126-11ea-8ba1-93baaaa87606.png)

But when the test is failing the same field will be empty:
![image](https://user-images.githubusercontent.com/12915002/92392529-15347780-f127-11

[2020-09-07 14:24] mozillazg opened #695 "Default log output to stderr"
As discussed in https://github.com/aquasecurity/kube-bench/discussions/662

[2020-09-09 04:02] dyapas opened #697 "inconsistent results for openshift v3.11 - Kube-bench"
**What steps did you take and what happened:**
i am running kube-bench tool for Openshiftv3.11 and i see inconsistent result for similar tests.

file: cfg/rh-0.7/master.yaml

section      - id: 5.2
        text: "Verify the default OpenShift setting for the client-cert-auth argument"
        audit: "/bin/sh -c'/usr/local/bin/master-exec etcd etcd grep ETCD_CLIENT_CERT_AUTH=true /proc/1/environ; gr

[2020-09-09 12:46] #695 closed

[2020-09-09 19:56] distortedsignal opened #699 "CIS Benchmark Tests 4.1.3 and 4.1.4 provide dubious answers"
## What I did (in a nutshell)
[code]

## What I expected to happen
[code]

## WHY did I expected this to happen

The wording in the CIS document _kind of_ allows this configuration. To whit:

<details>
<summary>CIS Benchmark 4.1.3 Text (with some edits)</summary>

### 4.1.3 Ensure that the proxy kubeconfig file permissions are set to 644 or more restrictive (Scored)
#### Description:
If kube-proxy

[2020-09-11 11:45] mozillazg commented on #699
@distortedsignal This issue is caused because of kube-bench not check `/var/lib/kube-proxy/config.conf` as configfile of kube-proxy on your env。A workaround is to configure the `node.proxy.kubeconfig` in `cfg/config.yaml` to include `/var/lib/kube-proxy/config.conf` in the list https://github.com/aquasecurity/kube-bench/blob/master/cfg/config.yaml#L155 .

[2020-09-11 15:04] distortedsignal commented on #699
@mozillazg I don't think that's the command line flag that the CIS test is referencing. The CIS document states:

[code]

The `config.conf` file is referenced in the `--config` flag, not `--kubeconfig`.

[2020-09-12 01:37] mozillazg commented on #699
@distortedsignal Yes, you are right, it should check the value of `--kubeconfig` flag if it's exists, otherwise pass the test.

[2020-09-16 07:34] yoavrotems opened #701 "When missing a component not running"
When running kube-bench and missing a component such as kubelet not running.
Missing the component could cause problem to individual tests but not to the entire running of kube-bench since its not necessary for running but for testing.
![image](https://user-images.githubusercontent.com/12915002/93306134-286ed380-f808-11ea-930e-6a3bb7bfb626.png)

[2020-09-16 14:52] yoavrotems opened #704 "Using flag --include-test-output doesn't work"
When using the flag --include-test-output you don't get any output relate the the audit command, not in the stdout or json.

[2020-09-16 16:00] lizrice commented on #699
I agree, I think these tests could be modified to also pass if the file does not exist (and therefore we get no permissions output from the audit command).  I haven't tried it but it would be something like this:

[code]

[2020-09-17 10:23] #704 closed

[2020-09-21 12:18] yoavrotems commented on #600
Closing it due to no response.
If this is still an issue please let us know and we will reopen this

[2020-09-21 12:18] #600 closed

[2020-09-28 18:54] pjbgf opened #710 "CIS Benchmark recommends use of weak ciphers"
**What steps did you take and what happened:**

CIS Benchmark recommends the use of `TLS_RSA_WITH_AES_256_GCM_SHA384` and `TLS_RSA_WITH_AES_128_GCM_SHA256`, which are both considered weak ciphers.
Target rules:

4.2.13 Ensure that the Kubelet only makes use of Strong Cryptographic Ciphers
1.2.35 Ensure that the API Server only makes use of Strong Cryptographic Ciphers

A [new ticket](https://workb

[2020-09-29 21:34] distortedsignal commented on #699
I wrote up a PR that (I think) fixes this issue. Would you mind taking a look? The PR is here: https://github.com/aquasecurity/kube-bench/pull/708

[2020-10-03 04:42] avats-dev commented on #625
@lizrice can you guide me how I can implement this? Thanks

[2020-10-03 10:12] #710 closed

[2020-10-03 10:23] #679 closed

[2020-10-03 10:51] #701 closed

[2020-10-04 09:05] yoavrotems commented on #697
This indeed seems very strange, could you add the "-v 3 --include-test-output" logs?

[2020-10-04 09:32] #566 closed

[2020-10-04 10:12] yoavrotems commented on #636
Hey this problem could be caused from a number of reasons, we change the way we treat it and changed it to be a warning when running kube-bench and not failing the entire program.
But since its not recognize in your environment you could run into different problem now when running like false positive from tests relate to kubelet.
If having any issues please let us now and open an issue about it! :

[2020-10-04 10:12] #636 closed

[2020-10-04 10:14] yoavrotems commented on #644
Thanks @thehunt33r for the comment and solution :)
closing this issue.

[2020-10-04 10:14] #644 closed

[2020-10-04 10:19] yoavrotems commented on #666
Solved by https://github.com/aquasecurity/kube-bench/pull/678

[2020-10-04 10:19] #666 closed

[2020-10-04 10:41] yoavrotems opened #717 "Hacktoberfest at Aqua Security"
Dear community, we appreciate you and your contribution to the success of our open source projects! In celebration of [Hacktoberfest](https://hacktoberfest.digitalocean.com/), we would like to extend our appreciation and reward your hard work. This repository is participating in Aqua Security 2020 Hacktoberfest campaign. For full details and guidelines please visit the official repo: [Hacktoberfes

[2020-10-04 12:24] avats-dev commented on #660
@yoavrotems can you guide me how to implement this? I want to contribute. Thanks.

[2020-10-04 16:33] mrueg commented on #666
@yoavrotems @lizrice can we get a new release with CIS 1.6.0 included?

[2020-10-05 06:34] mrBingDev opened #721 "Documentation Improvements"
Add LICENSE in the Documentation(README.md)

[2020-10-05 06:34] mrBingDev commented on #721
Can I work on this?

[2020-10-05 07:35] yoavrotems commented on #660
@avats-dev I can even do better and show you how we do it in different repos
[Group constraints in bench-common](https://github.com/aquasecurity/bench-common/pull/102)
[Original PR which has constraints per test](https://github.com/aquasecurity/bench-common/pull/26)

And in a more general way, the constraints is meant to select the correct test between multiple option, for example in [Linux-bench]

[2020-10-05 10:00] lizrice commented on #721
I'm generally not a fan of this because it duplicates what's already defined in the LICENSE file (which GitHub picks up in the UI as well). That said, we inconsistently do include this in some other READMEs, so we are deciding whether we want to standardize one way or another.

[2020-10-05 15:21] lizrice opened #723 "Add —exit-code"
At the moment, if kube-bench runs successfully, it exits with a zero exit code even if there are failed tests. Let’s add a `—exit-code` option, much like already exists for Trivy. If `—exit-code` is specified, and any of the tests result in FAIL, exit the kube-bench executable with the value specified by `exit-code`

See discussion #566

[2020-10-05 16:41] malathit commented on #723
@lizrice I am a developer with some experience on kubernetes. Recently, I saw your lecture in kubecon 2020 and it was wonderful. I would like to work on this and get this done in a week or two max. Can you please assign this issue so that I can work on this if resolving this is not urgent?

[2020-10-05 21:36] avats-dev commented on #660
Thanks @yoavrotems , examples are always better :smile: . I'll get started on this and get back to you if I need any help.

[2020-10-07 15:36] eratnch opened #725 "Running cis tests against kubernetes > 1.16"
In the `README.md` it's mentioned that latest cis version is 1.6 and it conforms to kubernetes 1.16.

If a kubernetes cluster running 1.17, 1.18 or 1.19 has to be certified, then can I run cis benchmark tests (for cis 1.6) with kube-bench against that cluster?

Can you please advise. Thanks.

[2020-10-07 16:59] fenixam opened #726 "Test 1.1.19 Failed"
**What steps did you take and what happened:**
kube-bench master -c 1.1.19 -v 3

[A clear and concise description of what the bug is, and what commands you ran. If possible please supply logs generated with the `-v 3` parameter.)
[FAIL] 1.1.19 Ensure that the Kubernetes PKI directory and file ownership is set to root:root (Automated)
**What did you expect to happen:**

PASS
 - Output:
 "root:root\

[2020-10-07 19:03] #725 closed

[2020-10-08 10:35] lizrice commented on #721
Thanks for the idea, but we have concluded that we don't want to duplicate this info in the README.

[2020-10-08 10:35] #721 closed

[2020-10-08 10:50] lizrice commented on #726
Thank you for the logs. From this line I'm pretty sure I can see the problem is a simple typo:

[code]

The test configuration for 1.1.19 in cis-1.6 is looking for `root root` (with a space) but it should be looking for `root:root`(with a colon)

[2020-10-09 14:39] #726 closed

[2020-10-10 17:02] Wicked7000 commented on #723
As there wasn't an update on this Issue for a couple of days I decided to go ahead and make the set of changes, please let me know if they are acceptable or if anything else is needed. (Or if someone else is going to pick up the changes)
Thanks!

[2020-10-12 00:40] Wicked7000 commented on #649
I've opened a PR for this please have a look when you get a chance and let me know if anything needs changing, many thanks!

[2020-10-14 02:27] neha-viswanathan commented on #587
Hi @yoavrotems @lizrice any pointers on this? Is this dashboard supposed to be displayed on the CLI or a UI?

[2020-10-14 19:49] manjo-git commented on #671
`

$ cat job-eks-v2.yaml
---
apiVersion: batch/v1
kind: Job
metadata:
  name: kube-bench
spec:
  template:
    spec:
      hostPID: true
      containers:
        - name: kube-bench
          # Push the image to your ECR and then refer to it here
          image: aquasec/kube-bench:8780c8e
          command: ["kube-bench", "node", "--benchmark", "eks-1.0"]
          volumeMounts:
            - nam

[2020-10-14 20:33] jeffnai-github opened #743 "Suggest revising test 1.3.6 to ensure RotateKubeletServerCertificate is not found or not false"
By default, kube-apiserver sets [RotateKubeletServerCertificate=true](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/#options) In test 1.3.6, instead of looking for "RotateKubeletServerCertificate=true", I'd like to suggest the following:

      - id: 1.3.6
        text: "Ensure that the RotateKubeletServerCertificate argument is set to true (Automated)"
        a

[2020-10-15 03:00] zhaocheng173 opened #744 "The job task cannot be run simultaneously on each master node"
I currently have three master nodes. The question I want to ask is that I am running with job-master, but I can only see jobs running on my M1-m2 node. Shouldn't it be running on all master nodes at the same time
[code]
Only one such task was generated
[code]
Now my nodes are no stain, or is this check master job if I have a lot of the master node, I can only run so can just have a job, or do I ha

[2020-10-16 16:12] jasmingacic opened #747 "Bin_op "and" doesn't seem to be working"
I ran `kube-bench master` on the master node with specific configuration.

Checks cis-1.6 1.2.5 and  1.2.29 are supposed to be checking that both requested parameters are set:
[code]

Even if the output is like this:
[code]
The check fails:

[code]

I ran it in a specific configuration on Ubuntu 20.04

Version **kube-bench_0.3.1_linux_amd64**

[2020-10-17 06:36] mozillazg commented on #744
This is expected and that is how k8s job work: https://kubernetes.io/docs/concepts/workloads/controllers/job/

[2020-10-18 14:34] yoavrotems commented on #587
I don't believe there is any special specifications here, as always the more flexible the better :)

[2020-10-19 02:01] zhaocheng173 commented on #744
So in this case, if I have three master nodes, do I need to tag each node and run three job-master jobs at the same time to check the benchmark for the master node, or do I just run one job at the master

[2020-10-19 07:51] #649 closed

[2020-10-19 07:54] yoavrotems commented on #747
Could you maybe add the json output since it has more information there we could understand better where this issue comes from

[2020-10-19 08:17] jasmingacic commented on #747
[code]

[2020-10-19 08:17] jasmingacic commented on #747
I have it failing for two more cases which too have `and` operator.

[2020-10-19 09:42] yoavrotems commented on #747
In the output you gave the test status is: "PASS" are you sure this is the right thing you wanted to share?
It seems to work fine in what you shared, as you can see "actual_value": has the output, the "expected_result": "'--kubelet-client-certificate' is present **AND** '--kubelet-client-key' is present".

[2020-10-19 09:54] jasmingacic commented on #747
Yes that is correct let me take another look and try to figure out what I did to get that.

Sorry to be bugging you.

[2020-10-19 10:39] jasmingacic commented on #747
I ran the tests again and it seems it is failing for the same test:
Config:
[code]
Result
[code]
[code]
Actual results:
[code]

[2020-10-19 11:07] yoavrotems commented on #747
The problem here seems to be that

 is empty, I see that when you use ps you add ax flag, when you run it exactly as kube-bench command to you get output?
`/bin/ps -ef | grep kube-apiserver | grep -v grep`

If when running the **exact** same command give you output and the kube-bench doesn't then this is an issue

[2020-10-19 12:46] jasmingacic commented on #747
[code]
This what I get if I run the same command from my terminal

[2020-10-19 12:50] yoavrotems commented on #747
OK now this is weird, can I ask what is the differences between the first output you gave and the second ? (The on with PASS and the one with FAIL), what changed between them?

[2020-10-19 13:18] jasmingacic commented on #747
The second output with "PASS" was run with default config for kube-bench. I wasn't paying attention when I ran it.

But since you mentioned it check this out test 1.2.5 is failing and 1.2.6 is passing:
[code]

[2020-10-19 13:19] jasmingacic commented on #747
Both are looking for  same binary but checking different results. Both should have the same `actual_value`

[2020-10-19 14:53] mozillazg commented on #744
@zhaocheng173

If all of your master nodes have same configurations you can just run one job, otherwise run multiple jobs for these nodes is a better idea.

[2020-10-20 02:07] zhaocheng173 commented on #744
thanks

[2020-10-20 02:07] #744 closed

[2020-10-20 08:34] jasmingacic commented on #747
Are there any suggestions what to do with this? Maybe if I split 1.2.5 into two separate checks?

[2020-10-20 10:01] yoavrotems commented on #747
What do you mean by default config? which one do you use?
And I think that split them won't work since I think the problem is not in bin_op: and.
It could be the using with a different config problem, maybe missing info? Because I can't think of a reason why one 1.2.5 test in default config will work fine and the same test in a different config won't work unless something changed (for example miss

[2020-10-21 12:59] atomanonymous commented on #697
i would like to work on this could u guide me through this?

[2020-10-21 19:11] Wicked7000 commented on #564
Created a PR for this please let me know if anything needs to be changed!

[2020-10-22 05:31] kaiwalyakoparkar opened #753 "Adding proper documentation link in the contributions section"
**What steps did you take and what happened:**

I read the readme file entirely but when I went on reading through the contribution section I felt that there should be proper links to respective files.

**What did you expect to happen:**
There would have been links so that the reader can easily switch between the documentations

[2020-10-22 12:02] czunker commented on #528
Hi,

I've added some changes to a fork, which changes the summary sections as I understood the above comments.
This is an example output for a node:
[code]

All master, etcd and control plane checks are skipped and at the end, there are summed up checks across all sections.

I just wanted to check, whether I understood the comments correctly, before opening the PR.

[2020-10-29 20:08] lizrice commented on #528
That looks pretty close to what I was imagining, although I don't think we should have totals for a section that has been skipped, as this could potentially mislead the user into thinking they should have run. So I'd say the overall totals should just be of the So on a worker node I'd imagine the output above might be like this:

[code]

[2020-10-30 06:37] czunker commented on #528
Thanks for your feedback @lizrice. I'll change it accordingly.

[2020-10-30 14:48] czunker commented on #528
I changed the code and now it looks like this on a node:
[code]

And like this on a master:
[code]

[2020-11-02 10:29] #723 closed

[2020-11-11 14:11] mozillazg commented on #743
Yes, you are right.

From https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/

<img width="601" alt="image" src="https://user-images.githubusercontent.com/485054/98821429-8287c000-246a-11eb-9bc0-f8432d5b6913.png">

From https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/
<img width="752" alt="image" src="https://user-images.github

[2020-11-11 16:16] yidongcici opened #768 "install kube-bench in different ways can have different output."
i run kube-bench inside a container and inside a pod and the other two ways.

- the output of running kube-bench inside a container miss the chapter 5.7.1
[INFO] 5.5 Extensible Admission Control
[WARN] 5.5.1 Configure Image Provenance using ImagePolicyWebhook admission controller (Manual)
[INFO] 5.7 General Policies
[WARN] 5.7.1 Create administrative boundaries between resources using namespaces (

[2020-11-23 18:49] lizrice commented on #768
Please can you give more details on exactly how you ran these tests? In both cases, you need to configure the container / pod to have access to directories and the process ID namespace on the host.

You can also run with the -v 3 flag to get lots of detailed logging which might help track down why there are differences

[2020-11-23 19:41] lizrice opened #771 "Move to GitHub Actions"
Jobs are taking a very long time to run in Travis, so it would be good to migrate to GitHub Actions instead

[2020-11-26 11:08] #717 closed

[2020-11-30 08:49] #743 closed

[2020-12-06 07:33] yidongcici commented on #768
i run the test inside a container with flag -v 3 and the output is attached as below. however, i don't know how to get more logs about testing inside a pod, because i directly download the job.yaml from github project and then ran the the tests as a job. hopefully waiting for your help.

I1206 07:17:42.863011   15158 common.go:243] mapToBenchmarkVersion for k8sVersion: "1.19" cisVersion: "cis-1.6"

[2020-12-08 10:21] #528 closed

[2020-12-14 08:44] #661 closed

[2020-12-17 14:29] mozillazg opened #780 "Some changes are reverted after rename master branch to main"
These changes are reverted:

* https://github.com/aquasecurity/kube-bench/pull/755
* https://github.com/aquasecurity/kube-bench/pull/767
* https://github.com/aquasecurity/kube-bench/commit/6bbbd5305458168224a41d118d22750abd6314ba
* others I don't know...

[2020-12-19 02:18] krol3 commented on #771
I´d like to help

[2020-12-21 11:39] lizrice commented on #780
Sorry about this! My fault. We are working on restoring all these...

[2020-12-21 11:40] #753 closed

[2020-12-21 11:42] lizrice opened #788 "Use goreleaser to release to Docker Hub"
Let's use the same pattern as in aquasecurity/starboard to release the Docker image using goreleaser as part of a GitHub Action

[2020-12-22 15:23] arno-snop opened #789 "Test 'Ensure that the RotateKubeletServerCertificate argument is set to true' fails if there are other feature-gates parameter defined"
**What steps did you take and what happened:**

Following test on master (cis 1.6):
[code]

fails in case there are other feature-gates parameters defined even if `RotateKubeletServerCertificate=true` is set.

**What did you expect to happen:**

Test should succeed even if there are other feature-gates parameters defined.

**Environment**

kube-bench 0.4.0
CIS 1.6
kubernetes 1.18.9

**Anything els

[2020-12-27 07:52] yoavrotems commented on #789
Hey, I think you are using an old version, currently in main branch (we are no longer using master) https://github.com/aquasecurity/kube-bench/blob/main/cfg/cis-1.6/master.yaml#L917
You can see this test is now check its not set to false:
[code]

I think this solves your issue,
if this is still an issue you are welcome to reopen this issue.

[2020-12-27 07:52] #789 closed

[2020-12-27 08:10] yoavrotems commented on #780
Hey we restored all changes, if you notice something we missed please let us know @mozillazg
Thanks :)

[2020-12-27 08:10] #780 closed

[2020-12-27 08:11] yoavrotems commented on #771
Done

[2020-12-27 08:11] #771 closed

[2020-12-27 08:15] yoavrotems commented on #747
I believe this solved by https://github.com/aquasecurity/kube-bench/pull/784
If not please reopen this issue

[2020-12-27 08:15] #747 closed

[2020-12-27 08:15] yoavrotems commented on #694
Done

[2020-12-27 08:15] #694 closed

[2020-12-27 08:17] #680 closed

[2021-01-17 14:37] ankitsrao opened #802 "Utility fetches incorrect compliance status for few of the GKE CIS recommendations"
**What steps did you take and what happened:**

I'm currently working on a POC for which I'm trying to run the kube-bench agent on a GKE cluster.

Command used: kube-bench --benchmark gke-1.0

**What did you expect to happen:**

- Expected output: Correct compliance recommendations for CIS GKE policies

- Actual output: For the below policies, even though the configuration on the GKE cluster is co

[2021-01-20 10:39] lizrice commented on #423
Closing as stale - we can re-open if there is demand for this and if there's a relevant CIS benchmark to implement

[2021-01-20 10:39] #423 closed

[2021-01-20 10:40] lizrice commented on #519
Closing as stale

[2021-01-20 10:40] #519 closed

[2021-01-20 10:43] lizrice commented on #564
fixed in #751

[2021-01-20 10:43] #564 closed

[2021-01-20 10:47] lizrice commented on #587
This is supported by our [Starboard](github.com/aquasecurity/starboard) project. You can run a kube-bench job through the Starboard CLI, and have the results appear in a dashboard like Octant or Lens.

[2021-01-20 10:47] #587 closed

[2021-01-20 11:04] lizrice commented on #619
I've realised that the CIS benchmark assumes that etcd is running as a Kubernetes pod, and I don't think that's the case for you. I've raised [a ticket](https://workbench.cisecurity.org/benchmarks/6466/tickets/12094) about it on the benchmark spec.

[2021-01-20 11:07] lizrice commented on #632
I've raised [a ticket](https://workbench.cisecurity.org/benchmarks/6466/tickets/12094) against the benchmark spec, which currently assumes etcd is running as a Kubernetes pod.

I would be supportive of an enhancement that skips these checks if there is no etcd manifest file. (Meanwhile, you could manually modify the test files to skip these checks.)

[2021-01-20 11:14] lizrice opened #803 "Config YAML should set location of Kubernetes manifest files"
At the moment the config.yaml file has a `confs` section with a series of candidate file names and locations for the pod configuration for each component. If these components are configured through static pod manifest files, they will all be in the same directory. We could simplify the config.yaml file by having that directory configured once (or auto-detected by looking at the kubelet's configura

[2021-01-20 13:32] lizrice commented on #671
OK, so the original problem of running on an ARM processor is fixed now. The remaining part of this issue is probably fixed by #702 so I'm going to close for now, please open a new issue if you still see "unable to detect running programs"

[2021-01-20 13:32] #671 closed

[2021-01-20 13:34] lizrice commented on #635
Fixed with #640 and #641, but please open a new issue if you find any more tests incorrectly marked as manual. Thanks!

[2021-01-20 13:34] #635 closed

[2021-01-21 16:42] cohoe opened #806 "String matching against node-config.yaml appears broken"
**What steps did you take and what happened:**

I am benchmarking an ocp3.11 cluster using rh-0.7-node. Several benchmarks continue to fail after remediations have been applied. For example, 7.3 ('authorization-mode' is not present OR 'authorization-mode' has 'Webhook') and 7.6 ('streaming-connection-idle-timeout' is not present OR '5m' is not present). Both benchmarks fail even after the remediat

[2021-01-28 06:26] felipeac opened #808 "cfg/config.yaml doesn't support Bottlerocket OS nodes"
## Expected Behavior

kube-bench report should return valid results when scanning Bottlerocket OS nodes.
[code]
## Actual Behavior

The kube-bench scan is throwing invalid results because Bottlerocket OS places the kubelet config files in a different location.
[code]

## Steps to Reproduce the Problem

  1. Deploy an EKS cluster on AWS with a node group using Bottlerocket OS
  2. Deploy kube-bench

[2021-01-29 11:06] lizrice opened #810 "Deprecate master & node subcommands"
We have subcommands `master` and `node` that reflect old versions of the benchmark where there were just two sections, which were implemented in test files `cfg/<benchmark version>/master.yaml` and `cfg/<benchmark version>/node.yaml` respectively. For all the spec versions we now support, there are several more sections (for example etcd has its own section). We have the `--targets` parameter for

[2021-01-29 11:12] lizrice commented on #802
Please could you let us know the output from running `ps -eaf | grep kubelet` on this node? Thanks

[2021-01-29 11:52] lizrice commented on #788
Fixed by #790 and #805

[2021-01-29 11:52] #788 closed

[2021-01-29 13:02] lizrice commented on #768
Please can you try again with version aquasec/kube-bench:0.5.0? I've just tested on that version and I'm seeing the same results running in both these ways:

1. `kubectl apply -f job.yaml`

2. `docker run --rm -v <current directory>:/host aquasec/kube-bench install`
sudo ./kube-bench

If you're still seeing issues, you can get additional logs from the job by changing the `command` line to specify

[2021-01-30 18:17] rdbraber opened #811 "[0.5.0] The main config.yaml file is missing"
**What steps did you take and what happened:**

Download the tar.gz file: https://github.com/aquasecurity/kube-bench/releases/download/v0.5.0/kube-bench_0.5.0_linux_arm64.tar.gz. When checking the content:
[code]

I had the same issue when installing the deb package.

I download the config.yaml manually and now kube-bench is working.

**Environment**

kube-bench v0.5.0
kubernetes 1.20

[2021-02-01 13:34] Bledai opened #814 "Different json reports for node and master configuration"
Different json reports for node and master configuration :
`command: ["kube-bench", "node", "--json", "--outputfile", "/cis/kube-bench-node.json"]`
`command: ["kube-bench",  "master",   "--json",  "--outputfile", "/cis/kube-bench-master.json"]`
For master testing json report in new version added `Totals` field.:
[code]
But for node testing still without `Totals` - This prevents us from using the s

[2021-02-01 16:39] #814 closed

[2021-02-05 00:18] nealharris commented on #802
FWIW, https://cloud.google.com/kubernetes-engine/docs/concepts/cis-benchmarks says that 4.2.4 and 4.2.6 are expected to fail with an out-of-the-box GKE cluster. It also says 4.2.10 and 4.2.12 have 'equivalent controls', so maybe kube-bench will show FAIL in those cases?

4.2.1, 4.2.2, and 4.2.3 are supposed to pass with a default GKE cluster, though.

[2021-02-07 15:58] yoavrotems opened #816 "Missing information in logging version detection"
**What steps did you take and what happened:**

When running kube-bench and use version auto-detection
(no --version or --benchmark flags)

**What did you expect to happen:**
Get more information for example info on why failed to use rest API to detect version

**Environment**
kube-bench 0.5.0

[2021-02-08 00:04] revaniki opened #818 "can't find master controls file in /etc/kube-bench/cfg: no test files found <= benchmark version: cis-1.6"
**What steps did you take and what happened:**

Attempting to run kube-bench on a k3S cluster running via vagrant for a class I'm creating with kube-bench 😉

Downloaded kube-bench binary locally via tar ball

On execution of `./kube-bench master` it doesn't detect the version

[code]

hence I'm running it manually via `./kube-bench master --benchmark cis-1.6` which results in:

[code]

all files a

[2021-02-09 09:00] giuseppeingoglia opened #819 "kube-bench/cfg/config.yaml needs to include a new location under confs:"
**What steps did you take and what happened:**

Running CIS Kubernetes Benchmark test 4.1.3 and 4.1.4 the /etc/kubernetes/proxy.conf file stated in the results and remediation is not the same present in the host causing the test to FAIL.

The file to be checked is under /var/lib/kube-proxy/config.conf but this location is missing from the config.yaml file.

**What did you expect to happen:**

For

[2021-02-09 14:09] rdbraber commented on #818
In the 'tools/cfg' directory, you need to download the main config.yaml file. It's not included in the tarball. See also #811

[2021-02-10 10:14] #819 closed

[2021-02-10 14:56] #808 closed

[2021-02-11 10:57] #811 closed

[2021-02-11 10:58] yoavrotems commented on #818
Solved in #813 Thanks to @curx

[2021-02-11 10:58] #818 closed

[2021-02-17 23:21] yashvardhan-kukreja commented on #532
Hi @lizrice I would like to pick this issue up. Please assign me this issue if it is still under consideration.

I can prep a basic design on how a user can feed aws creds accordingly to the spec/config of kube-bench and run it across here.

[2021-02-22 09:37] yoavrotems opened #824 "rh-0.7 yaml needs to be update"
**Overview**

The yaml wasn't update for a while and it could better use the kube-bench engine, for example issue #806 is caused because not using audit_config

**What happened?**

#806
"audit" is not expecting yaml list output, aka
[code]
For this kind of value there is audit_config, which using jsonpath and could handle yaml and json formats

[2021-02-22 09:37] yoavrotems commented on #806
Hey, thank you for this issue.
There are multiple issue hidden here the first one is misleading logs, this is what took me a while to figure out how to improve it in order to better understanding why tests or failing or why kube-bench is misbehaving.
This PR https://github.com/aquasecurity/kube-bench/pull/822 will solve this issue.
Now when running it with better logs we can see the issue here is

[2021-02-23 12:34] RolandMa1986 opened #828 "Etcd check failed with a custom etcd setup"
**Overview**
We have a custom Etcd cluster that setup with systemd and bash scripts. We can't pass the 'Etcd Node Configuration' check.

**Environment**
Kubernetes v1.18.6
Kube-bench: v0.5.0

**Running processes**
[code]
**Anything else you would like to add:**
All of our settings are presented in the Environment.  But it seems the default AuditEnv command can't handle the above situation, since t

[2021-02-23 14:23] #810 closed

[2021-02-23 14:24] #816 closed

[2021-02-24 20:01] neha-viswanathan opened #830 "Upgrade base images"
Newer versions of golang and alpine images which are used in the Dockerfile are available.

- [x] upgrade to go 1.16
- [x] upgrade to alpine 3.13

[2021-02-25 14:04] sp185503 commented on #802
@lizrice I'm also seeing these fail.  Here's the requested output from my environment:

[code]

[2021-03-03 15:21] revaniki commented on #818
thanks guys @curx

[2021-03-04 15:28] hryamzik opened #835 "unable to determine benchmark version: config file is missing 'version_mapping' section"
**Overview**

[A clear and concise description of what the bug is]

**How did you run kube-bench?**

I'm trying to get kube-bench running on EKS node. I have two points of reference here, [aws docs](https://www.eksworkshop.com/intermediate/300_cis_eks_benchmark/ssh-into-node/) and [README](https://github.com/aquasecurity/kube-bench#download-and-install-binaries).

1. Installation option one:

[cod

[2021-03-04 15:49] jorgegutierrez2077 commented on #835
Man I feel your pain, to make it work you need to download the config files on https://github.com/aquasecurity/kube-bench/tree/main/cfg
and place them under /etc/kube-bench/cfg/ once you have that the checks actually work

That is vaguely described on https://github.com/aquasecurity/kube-bench#installation:
_install the latest binaries from the Releases page, though **please note that you also nee

[2021-03-04 15:58] hryamzik commented on #835
@jorgegutierrez2077 makes sense, ty. I've downloaded just the `config.yaml` (`wget -O cfg/config.yaml https://raw.githubusercontent.com/aquasecurity/kube-bench/main/cfg/config.yaml`) and seem to get it working, other configs are there out of the box:

[code]

[2021-03-05 10:16] mozillazg opened #839 "Support CIS ACK 1.0.0"
See https://github.com/aquasecurity/kube-bench/discussions/838

[2021-03-05 12:07] mozillazg commented on #835
@hryamzik This issue has been fixed via https://github.com/aquasecurity/kube-bench/pull/813, but there isn't a new release for this fix yet.

[2021-03-05 22:20] rm3l opened #840 ""Missing 'Maintainer' field" warning when installing v0.5.0 Debian package"
**Overview**

Hi there,

Just reporting this warning message I got when installing the Debian package:

[code]

Full output is here:

[code]

This is just a warning at installation, but what's annoying is that dpkg now reports the same warning message every time I attempt to upgrade or install unrelated packages with `apt upgrade`.

**How did you run kube-bench?**

Issue at package installation.

[2021-03-07 04:49] mozillazg opened #842 "ETCD ownership related checks will always failed when running in container"
**Overview**

ETCD ownership related checks will always failed when running in container. Because of there is no user named `etcd` in container.

Maybe we should mount the `/etc/passwd` and `/etc/group` from host when running in container (need update README.md and job-master.yaml)?

**How did you run kube-bench?**

[code]

**What happened?**

ETCD ownership related checks always failed.

https://

[2021-03-07 11:25] adshafqat opened #843 "Not clear on 4.6 Verify the scheduler pod specification file ownership set by OpenShift"
Hi,

We are running kube-bench v3 tests on OpenShift 3.11 cluster and some of the tests are failing with no clear explanation

For example
4.6 Verify the scheduler pod specification file ownership set by OpenShift

Test is suggesting to set the ownership of  /etc/origin/node/pods/controller.yaml file to root:root

The ownership is already set to root, an idea why this test is failing? Is this due

[2021-03-07 11:42] adshafqat opened #845 "3.7 Manage certificate rotation is looking at wrong OpenShift config file"
Hi,
We are running kube-bench v3 tests in OpenShift 3.11. Below test is failing because RotateKubeletClientCertificate value is not set in master-config.yaml file. In OpenShift 3.11, instead of master-config.yaml, this value is configured in /etc/origin/node/node-config.yaml file both on Master and worker nodes.

     - id: 3.7
        text: "Manage certificate rotation"
        audit: "grep -B3 R

[2021-03-16 22:38] jakubpawlowski opened #848 "gke - no tests seem to be run under 'managedservices' section"
**Overview**

No tests seem to be run under 'managedservices' section. Everything is marked as 'WARN' (meaning manual run required).

**How did you run kube-bench?**

Using job-gke.yaml

**What did you expect to happen:**

At least some of the tests are run by kube-bench

**Environment**

kube-bench 0.5

gke - 1.18

[2021-03-21 20:53] #830 closed

[2021-03-23 14:43] amitsehgal opened #850 "vulnerabilities in latest image"
**Overview**
Following vulnerabilities have been found after scanning image. v0.5.0

CVE-2021-23841
CVE-2021-23840
CVE-2021-23839

I can create my own with scartch/distroless, however would like to report here as well.

**How did you run kube-bench?**

[Please specify exactly how you ran kube-bench, including details of command parameters and/or job file that you used to run it]

**What happened?*

[2021-03-23 18:10] Red-Five opened #852 "GKE CIS 4.2.1, 4.2.2 and 4.2.3 False Positives"
Reporting possible false positives on GKE CIS 4.2.1, 4.2.3 and 4.3.3.
Running the kube-bench/job-gke.yaml against a Standard GKE Starter cluster (v1.18.15-gke.1501)

Results
[FAIL] 4.2.1 Ensure that the --anonymous-auth argument is set to false (Scored)
[FAIL] 4.2.2 Ensure that the --authorization-mode argument is not set to AlwaysAllow (Scored)
[FAIL] 4.2.3 Ensure that the --client-ca-file argume

[2021-03-23 18:20] Red-Five commented on #852
Look like this is a duplicate (or at least a subset) of https://github.com/aquasecurity/kube-bench/issues/802

[2021-03-23 20:48] Red-Five commented on #852
I'm not at all familiar with how this app works so below comments might be way off base :-)

A possibility is that this check
![image](https://user-images.githubusercontent.com/25078066/112215246-871d6b80-8bf6-11eb-8aba-57b1900f8546.png)

is passing the audit_config test and failing the audit test.

Also checking for path .authentication.anonymous.enabled in the audit test doesn't seem correct, si

[2021-03-23 21:51] Red-Five commented on #852
Also this document https://github.com/aquasecurity/kube-bench/blob/main/docs/README.md#configuration-and-variables
doesn't mention the use of the audit_config field or how it would behave when combined with an audit field.

[2021-03-24 06:04] gurugautmm opened #853 "Issues with custom compliance host scans"
Customer ran custom compliance checks that were already included in Aqua (i.e. "Kube bench-eks-1.0-node" and "Kube bench-eks-1.0-policies"), and found multiple issues with the accuracy of the scan results.  I have attached a CSV file of a recent compliance scan we did on a few hosts.

In the CSV file, we added a few more columns on the far right to give more context to the issues that we faced.  T

[2021-03-24 11:41] Red-Five opened #854 "GKE 6.5.5 Incorrect Text"
Ref. https://github.com/aquasecurity/kube-bench/blob/0cb302761c669128cdec9c136b69e677359314a5/cfg/gke-1.0/managedservices.yaml#L311

6.5.5 has the same text as 6.5.6, resulting in confusing result report.

[2021-04-05 06:03] yashvardhan-kukreja commented on #532
@rrey I have recently built an add-on ( [Kube-bench-exporter](https://github.com/yashvardhan-kukreja/kube-bench-exporter) ) to export kube-bench reports to multiple targets like Amazon S3 buckets in one-go with ease.

As it is an add-on, so you don't have to mess around with the existing installation of kube-bench you're using.

Let me know what do you think :)

cc: @lizrice

[2021-04-05 08:13] rrey commented on #532
@yashvardhan-kukreja I changed project since I opened this issue.
We used Ansible to run kube-bench and drop the output in s3.

[2021-04-05 08:15] yashvardhan-kukreja commented on #532
Oh cool, no worries :)

[2021-04-08 14:16] #854 closed

[2021-04-11 19:03] papiveron opened #858 "False Fails on etcd pod specification files permissions"
Hi,

I'm testing my k8s kubespray cluster hardening using kube-bench.

I'm getting fails that doesn't correspond to the real cluster state. Mainly I've set `etcd` pod specifications and data dir as recommended by CIS, but the scan sill report the issues as you can see below.

[code]

While permissions are well set, even in the  container :

[code]

Any ideal of why the bench scan behave like this

[2021-04-12 00:30] mozillazg commented on #858
@papiveron

The debug logs will give you the reason:

https://github.com/aquasecurity/kube-bench#troubleshooting

See also about 1.1.12: https://github.com/aquasecurity/kube-bench/issues/842

[2021-04-22 20:03] robermar23 commented on #568
Any updates on support for OpenShift 4?  Seems as if OpenShift 4.x does have a requisite hardening guide now?

[2021-05-02 09:56] yoavrotems commented on #852
Hey first thing sorry for the late response,
Secondly about the audit_config and audit, only when audit fails it will proceed to audit_config,  so it will behave as OR basically yes.
About the tests failing it could be because it checks maybe different configs then the one node is using, it shouldn't do so, but it could explain why test is fail while config has the correct values.
If you will join

[2021-05-02 09:57] yoavrotems commented on #858
Thanks @mozillazg !
@papiveron is this still an issue?

[2021-05-02 10:02] yoavrotems commented on #842
Hey @mozillazg thanks for informing us about this issue, currently I'm working on different issues but I will mark it as good first issue and help wanted

[2021-05-02 10:12] yoavrotems commented on #848
Hey you are correct, this is no bug.
Test mark as manual are requiring *manual* user intervention, there are few cases for this situation: for example something that need to be set in the organization level and will be different from organization to organization, other example is when the output could not be predicted - `make sure all group member should be in this group` we can't know upfront whi

[2021-05-02 10:12] #848 closed

[2021-05-02 10:18] yoavrotems commented on #845
Hey first thing we updated ocp 3.11 config (rh-0.7) and secondly created new config for ocp 4.X.
Both are based on redhat hardening guide and we try to stay as close to the spec as possible.
And I think that this test is also is checked in node segment too in test 7.14 no?

[2021-05-02 10:22] yoavrotems commented on #843
Hey sorry about the late response but this is what we worked on!
All is updated and also added ocp 4.X tests
I'm closing this issue, but if it keeps failing, please open a new issue and include the -v 3 logs and also the needed information about the files, if its the file permissions from stat output or the file content, this way we would have a better indication on where is the problem if it's st

[2021-05-02 10:22] #843 closed

[2021-05-02 10:24] yoavrotems commented on #840
Thanks for reporting us we will fix it

[2021-05-02 10:26] yoavrotems commented on #835
Thanks @mozillazg is correct and now when 0.6.0 is released this should not be an issue anymore.

[2021-05-02 10:26] #835 closed

[2021-05-02 10:29] yoavrotems commented on #824
Done in new kube-bench release 0.6.0 https://github.com/aquasecurity/kube-bench/releases/tag/v0.6.0

[2021-05-02 10:29] #824 closed

[2021-05-02 10:29] #806 closed

[2021-05-02 10:33] yoavrotems commented on #768
Hey this issue hasn't been active for a while, I'm closing it if is still an issue please reopen it.

[2021-05-02 10:33] #768 closed

[2021-05-02 10:48] yoavrotems commented on #828
Hey currently we have other issues and enhancements and won't add this enhancement, because there is an easy fix I would do it and just use in one of the fixes you suggested.
I will leave this issue open and tag as help wanted if someone from the community will want to contribute in the subject :)

[2021-05-02 10:51] yoavrotems commented on #697
Hey we updated the specs and added ocp 4.X support if still having issues please open a new issue and include also the debug logs (-v 3)
Thank you.

[2021-05-02 10:51] #697 closed

[2021-05-02 10:53] #667 closed

[2021-05-02 10:54] yoavrotems commented on #568
Yes and its out, you can use kube-bench version 0.6.0 or latest to use it :)

[2021-05-02 10:54] #568 closed

[2021-05-02 11:13] papiveron commented on #858
Yes @mozillazg, please I'll let you know once I find the root cause or solve it.

Thanks

[2021-05-04 17:55] davidhay1969 opened #867 "Seeing "No such file or directory" for CIS benchmark 1.1.9 using K8s 1.2.1"
**Overview**

I'm seeing: -

[code]

as part of the output from `kube-bench` for CIS test `1.1.9` ( and also for `1.1.10` ).

This is being run against the K8s Master ( Control Plane ) node.

More specifically, this is the entire output from that particular run: -

[code]

Looking at [master.yaml](https://github.com/aquasecurity/kube-bench/blob/main/cfg/cis-1.6/master.yaml) for the CIS `1.6` tests

[2021-05-09 11:25] #842 closed

[2021-05-11 08:51] yoavrotems opened #872 "Tests 1.2.24 always true"
**Overview**

Test 1.2.24 Is always true

**What did you expect to happen:**
Test 1.2.24 Shouldn't always pass.

Those problems seems to occur in multiple benchmarks

[2021-05-11 08:52] #839 closed

[2021-05-11 09:17] yoavrotems commented on #867
I'm not sure on what is the difference if you say that running the command manually returns nothing but running it with kube-bench returns file not exist (maybe some output redirections? something like 2> /dev/null) anyway, I might have a solution for you,
the test is:
[code]

I think that if you change it to be:
[code]
This should fix this issue without hurting the test integrity, since we either

[2021-05-11 09:34] yoavrotems commented on #853
Hey first thing sorry for the late response we were busy with releasing the new kube-bench version.
As I see there are some old format test in the yaml, but it should still work.
Could you please attach the debug logs? (-v 3)
And please use the new release of kube-bench this could be cause from a problem we already solved

[2021-05-18 11:31] yoavrotems commented on #852
Hey I just tested it on my env for updating the yaml and those tests seems to be fine.
I'm closing this issue if you still having false positives please reopen it with the logs attached.

[2021-05-18 11:31] #852 closed

[2021-05-18 11:32] yoavrotems commented on #867
Hey :) anything new?

[2021-05-18 11:35] yoavrotems commented on #845
Ping @adshafqat

[2021-05-18 12:43] THordeq commented on #852
Hello everyone,
We have the same issue when we run this job `job-gke.yaml` into our cluster.

Specs:
- Cluster version:  1.18.17-gke.100
-
![secu](https://user-images.githubusercontent.com/11784930/118651495-e8704e00-b7e5-11eb-9943-76855693368e.png)

Commands run:

[code]

When we look about kubelet config on nodes, we have:

[code]

And the ouput :

[code]

with details & recommendations:

[code]

[2021-05-18 13:53] #872 closed

[2021-05-18 13:56] yoavrotems commented on #852
Hey could you please attach the debug logs? (run it with the flag -v 3) @THordeq

[2021-05-18 17:05] davidhay1969 commented on #867
Alas, I suspect I'm doing it wrong, but still seeing the same warning for `1.1.9`, having changed `cfg/cis-1.6/master.yaml` to: -

[code]

I turned on verbose logging: -

[code]

and can see: -

[code]

in the pod logs ....

Looking further now ....

[2021-05-18 17:12] davidhay1969 commented on #867
Again, running the commands manually against the Control Plane Node works as expected: -

`ps -ef | grep kubelet | grep -- --cni-conf-dir | sed 's%.*cni-conf-dir[= ]\([^ ]*\).*%\1%' | xargs -I{} find {} -mindepth 1 | xargs stat -c permissions=%a`

[code]

`find /var/lib/cni/networks// -type f | xargs --no-run-if-empty stat -c permissions=%a`

`<RETURNS NOTHING>`

[2021-05-18 17:21] davidhay1969 commented on #867
Wondering whether the code "assumes" that a single Bash command will be included in the `audit:` block, whereas we're providing *two* commands: -

[code]

Looking at the `runAudit` function in [check.go](https://github.com/aquasecurity/kube-bench/blob/main/check/check.go) : -

[code]

😖 😕

[2021-05-19 08:51] yoavrotems commented on #867
There isn't suppose to be problem with multiple line audit we use it in other places and it works.
Seems that the problem is that it return error from the command since find couldn't find any file, I think that redirecting the output will work.
The --no-run-if-empty will never apply since find return the error, lets try what I suggested.
Remove the bin_op: or and the permissions set: false.
And in

[2021-05-19 12:13] THordeq commented on #852
I've attach the debug logs, tell me if you want more information

[kube-bench-github-issue.txt](https://github.com/aquasecurity/kube-bench/files/6507540/kube-bench-github-issue.txt)

[2021-05-19 18:00] davidhay1969 commented on #867
Ahhhh, now that looks much better.

Having changed from: -

[code]

to: -

[code]

I now see: -

[code]

running `kube-bench` in verbose mode: -

[code]

and I no longer see a warning for `1.1.9`

Will do the same for `1.1.10` and test again .....

Thanks @yoavrotems you're a Jedi!

[2021-05-19 18:04] davidhay1969 commented on #867
Yep, `1.1.10` also looks good

[code]

[2021-05-19 18:06] davidhay1969 commented on #867
So, TL;DR;, your change "merely" adds in some output redirection for the `find` command: -

[code]

which is awesome.

Thanks again, @yoavrotems - do you want to go ahead and raise a PR ? Otherwise, more than happy to do that, giving you ALL THE CREDIT, and ask you to review it ?

[2021-05-20 06:24] macEar opened #876 "The --noremediations flag is ignored when using with --json flag"
There is --noremediations flag which allows us to disable printing of remediations section. Also there is --json flag which is for printing the results as JSON.

They work if we use them separately. But if we specify them both then --noremediations is ignored and there are remedations in the output JSON. It looks like:

[code]

It's a bug.

[2021-05-20 08:15] yoavrotems commented on #867
No credit needed but yes it will be awesome of you to PR it :) ! @davidhay1969

[2021-05-20 08:21] #840 closed

[2021-05-20 08:23] yoavrotems commented on #840
Thanks again, I just PR it and it should be fine from the next version onwards

[2021-05-20 11:06] yoavrotems commented on #876
You are correct, but it is not a bug, it is the way the engine works, the print flags don't effect the data, its just effect the **printed** data to make it more convenient and human readable, the json is the data so we do not removing parts from there, but if you are using the json you can just ignore some properties or create something like filter script to remove your unnecessary properties

[2021-05-20 11:06] #876 closed

[2021-05-20 11:56] davidhay1969 commented on #867
👍 will do it when I get home later this PM. Cheers 🥂

[2021-05-20 14:59] davidhay1969 commented on #867
PR [Issue 867: Fixing "No such file or directory" issue seen with CIS 1.1.9 and 1.1.0 #877](https://github.com/aquasecurity/kube-bench/pull/877) raised

[2021-05-23 08:42] yoavrotems commented on #852
Hey thanks for the logs, I can now see the the problem is that you and the kube-bench are probably looking at different files.

You said you are using kube-config.yaml (which is costume? ) but in the logs you can see that

If you look farther in the ps logs you can see that this is really the config you are using:

The tests are failing because Kubeconfig content is:

As you can see it doesn't hol

[2021-05-23 08:46] #867 closed

[2021-05-23 08:47] yoavrotems commented on #858
@papiveron Hey anything new?

[2021-05-23 08:57] yoavrotems commented on #845
Because we updated ocp3 and added ocp4 I assume this problem is solved.
If after updating kube-bench it is still an issue please let us know

[2021-05-23 08:57] #845 closed

[2021-05-24 19:12] sfc-gh-jelsesiy opened #878 "Image 0.6.1 missing in DockerHub"
The latest release tag https://github.com/aquasecurity/kube-bench/releases/tag/0.6.1 is not following the same naming convention and is also missing in DockerHub.

[2021-05-25 14:29] steve-heslouin opened #879 "SecurityHub report duplicated"
**Overview**

I ran the **job-eks-asff.yaml** couple of times for the same cluster, like if i would do it periodically on a weekly basis for example, and it created as much duplicated entry in security hub as the amount of times i ran it. Example:

<img width="1283" alt="Screenshot 2021-05-25 at 16 23 12" src="https://user-images.githubusercontent.com/50872822/119515590-49fc6380-bd76-11eb-8f1a-eb3

[2021-05-27 17:05] papiveron commented on #858
Hi @yoavrotems ,

Nothing new for the moment.

I think we can close the ticket for now and reopen it later if necessary.

Best regards,
Eugène NG

[2021-05-27 17:05] #858 closed

[2021-05-28 09:40] steve-heslouin commented on #879
anyone?

[2021-05-28 17:20] chlynott opened #883 "Malformed JUnit Output"
JUnit XML format incorrect when running kube-bench to print results to as JUnit and save Kubectl logs in XML format. If kube-bench is adding more than one `<testsuite>` , they need to be wrapped in `<testsuites>` for parsers to interpret them properly.  The remediation output has text similar to `<filename>` that is not being encoded properly when generating the JUnit XML output.

 Link for JUnit

[2021-05-30 16:48] yoavrotems commented on #878
Hey thanks for this, you are correct and the dockerhub image wasn't pushed because the version missed the v in the beginning.
We fixed it by releasing v0.6.2 version  https://github.com/aquasecurity/kube-bench/discussions/880

[2021-05-30 16:48] #878 closed

[2021-06-04 23:45] errm opened #887 "Bottlerocket OS nodes are failing"
**Overview**

kube-bench report should return valid results when scanning Bottlerocket OS nodes.

The config added in #809 to allow Bottlerocket OS nodes to be scanned seems to have been inadvertently reverted by #849

**How did you run kube-bench?**

[code]

**What happened?**

[code]

**What did you expect to happen:**

[code]

**Environment**

kube-bench: 0.6.2
kubernetes: v1.18.9-eks-d1db3c

*

[2021-06-07 08:35] yoavrotems commented on #887
Hey @errm Could you please add more information?
You can see what info we need under https://github.com/aquasecurity/kube-bench#bugs
And also look at the bugs template

[2021-06-07 13:42] errm commented on #887
Sorry for my lasyness @yoavrotems I have added a bunch of info to the issue description.

I am thinking of just opening a PR with https://github.com/errm/kube-bench/commit/7fb85ce07ead0f794e5ee2719cb8c955d6602ab8 if thats OK?

[2021-06-07 14:52] errm commented on #887
Update:

I have updated my nodes to the latest bottlerocket release and now the tests pass as expected with this patch https://github.com/errm/kube-bench/commit/7fb85ce07ead0f794e5ee2719cb8c955d6602ab8

[code]

[2021-06-08 09:11] yoavrotems commented on #887
Oh I see, Thanks for the PR its seems good :)
After it will finish to build and run I will approve it.
Thank you for contributing

[2021-06-08 09:11] #887 closed

[2021-06-08 09:35] yoavrotems opened #890 "Job can't run properly on openshift"
**Overview**

Openshift 4 + CIS is using the oc command
oc can't run on simple Alpine since it use a glibc and its not in Alpine.

**How did you run kube-bench?**

oc create -f job.yaml
**What happened?**

Getting
 I0526 12:50:23.675148  989968 util.go:498] Can't use oc command: fork/exec /usr/local/mount-from-host/bin/oc: no such file or directory

**What did you expect to happen:**

I expect kub

[2021-06-08 09:37] yoavrotems opened #891 "Image not supporting jq"
In old kube-bench cis version there wasn't any use in jq, now in openshift 4.X hardening guide there is a lot of use in jq and it not installed or mounted to image.

[2021-06-09 07:25] #624 closed

[2021-06-09 07:32] yoavrotems opened #897 "CIS Kubernetes V1.20 Benchmark v1.0.0"
New [CIS Kubernetes V1.20 Benchmark v1.0.0](https://workbench.cisecurity.org/benchmarks/6246) was published 2 weeks ago on May 19th 2021
And we should add support for it

[2021-06-09 14:01] #890 closed

[2021-06-09 14:01] #891 closed

[2021-06-09 21:33] PushkarJ commented on #897
Hey @yoavrotems Big fan of kube-bench!! I would be very interested in contributing to support this new version. Would following this issue be a good idea to keep up to date on this item?

[2021-06-10 18:05] cernst-mx opened #902 "False positive for cis-1.6 section 1.1.9 (CNI file permissions) when using calico"
**Overview**

This test expects the CNI files under /var/lib/cni/networks to have 644 (or more restrictive) which, in my case, they do with one exception.  Calico also creates a 'lock' file with 750 which causes the test to fail.

**How did you run kube-bench?**

kube-bench is run from Rancher via a sonobuoy plugin.

**What happened?**

The audit for 1.1.9 produced a warning:

1.1.9,Ensure that th

[2021-06-11 11:31] stephanlindauer opened #903 ""Message:Finding does not adhere to Amazon Finding Format""
With version `0.6.2` i get recommendation text that doesn't fit the requirements of that field in the ASFF spec:
[code]

[2021-06-14 13:51] yoavrotems opened #904 "Update go modules file"
Thanks to @neha-viswanathan  https://github.com/aquasecurity/kube-bench/discussions/829
we need to update our go.mod

[2021-06-14 22:52] austintackaberry opened #905 "There are automated tests for some items that are marked as "(Manual)""
**Overview**

**How did you run kube-bench?**
Using job-master.yaml

**What happened?**
There are 2 items (1.2.13 and 1.2.35) that were marked as PASS but the items have (Manual)

[code]

[code]

**What did you expect to happen:**

The docs say [here](https://github.com/aquasecurity/kube-bench/blame/main/docs/flags-and-commands.md#L115) that if an item is `Manual`, then it will always be logged as

[2021-06-15 07:52] #905 closed

[2021-06-15 10:39] motiumansky opened #907 "What k8s versions are supported?"
We are considering to run kube-bench on our EKS. It is unclear to us what versions are supported.

Thanks,
Moti

[2021-06-15 11:05] #907 closed

[2021-06-15 13:25] yoavrotems commented on #902
Hey @cernst-mx Thanks for letting us know about it, I believe this is a too specific case, we usually keep as close to CIS benchmark as possible, with minor changes that will effect the test for example `--no-run-if-empty`.
Do you know if this issue is only applied to calico? or is it relevant to other cases?
Because I tell you what I'm a bit reluctant about this change, on the one hand it shouldn

[2021-06-15 13:31] yoavrotems commented on #903
Could you add more information?
Here you can see what information we need https://github.com/aquasecurity/kube-bench/blob/main/CONTRIBUTING.md#bugs

[2021-06-15 13:44] yoavrotems commented on #903
Also would help to know what is the latest version you used that it worked since eks files wasn't changed for 7 months

[2021-06-16 13:46] yoavrotems opened #909 "Tests 1.1.9 and 1.1.10 sometimes failing running command"
Test 1.1.9 is running the following command
[code]
Sometimes the first part `ps -ef | grep $kubeletbin | grep -- --cni-conf-dir | sed 's%.*cni-conf-dir[= ]\([^ ]*\).*%\1%' | xargs -I{} find {} -mindepth 1` returns empty value, and stat couldn't run with empty value.
Command needs to be
[code]
Same apply to 1.1.10

[2021-06-16 14:14] #909 closed

[2021-06-16 14:26] #904 closed

[2021-06-16 17:55] #897 closed

[2021-06-20 10:06] yoavrotems commented on #903
@stephanlindauer Do you might ran a different cfg?

[2021-06-20 11:19] yoavrotems commented on #879
Hey sorry for the late response, I will start with a confession I didn't used AWS security hub so I might not understanding something correctly but to may understand kube-bench is only pushing new results with asff.
As you run it, it will push new results to the security hub and I guess that aws will separate in because it doesn't follow aggregation rules.
Maybe there is a way to unite scans in th

[2021-06-20 11:28] #903 closed

[2021-06-20 12:33] yoavrotems commented on #853
Hello @gurugautmm is this still an issue?

[2021-06-21 10:13] stephanlindauer commented on #903
thanks!

[2021-06-21 15:15] yoavrotems opened #916 "Add new statuses"
Currently Kube-bench output only four statuses
* [PASS] - Test passed
* [FAIL] - Test scored and got unwanted output
* [WARN] - Test is not scored and failed, or test has unknown command or test command failed to run (wrong parameter, file doesn't exist and etc) or test is a manual test
* [INFO] - Test is either chapter title or marked as skip.

We want to improve it and use new status, this is wh

[2021-06-22 08:27] yoavrotems opened #918 "New flag! --status"
After [Add new statuses](#916) kube-bench will have 7 different statuses
[PASS] [FAIL] [WARN] [INFO] [MANU] [SKIP] [ERRO]
It only make sense to have a new output manipulation flag --status which will get a string array of statuses and will only print test with the desired status for example:
`kube-bench --status="ERRO"`
will only output tests with ERRO status
and
`kube-bench --status="SKIP,MANU" `

[2021-06-22 09:57] yoavrotems commented on #883
@chlynott Thank you for reporting us about this issue, Can I ask a couple of questions?
How long are you using kube-bench and Junit?
Is there a special reason you are using kube-bench version 0.3.1? (latest is 0.6.3)
Currently I will make a quick fix for Junit output but for what I see this hasn't been valid for over a year and nobody noticed so maybe its not in use?

I also open a discussion abou

[2021-06-23 15:01] #883 closed

[2021-06-23 15:05] #619 closed

[2021-06-23 15:10] yoavrotems commented on #879
Hey @steve-heslouin I'm closing this issue waiting for you response, if you any more questions or or information to share please reopen this issue

[2021-06-23 15:10] #879 closed

[2021-06-23 15:11] yoavrotems commented on #853
I'm closing this issue since no response, @gurugautmm please feel free to reopen it it is still relevant

[2021-06-23 15:11] #853 closed

[2021-06-23 15:26] yoavrotems commented on #850
Just scanned the  0.6.3 and didn't found vulnerabilities
Thank you for being vigilant an noticing it.
Feel welcome to open any new issues in the subject if you find something new.

[2021-06-23 15:26] #850 closed

[2021-07-02 13:23] RaulButuc opened #924 "Status [PASS/FAIL/WARN/INFO] not showing in the pod's logs"
**Overview**

After running kube-bench on either master or worker nodes I noticed that the job logs are missing the [STATUS] at the start of each line.

**How did you run kube-bench?**

`kubectl apply -f job-master.yaml` and `kubectl apply -f job-node.yaml` on a brand new K8s cluster running on baremetal (bootstrapped with kubespray).

**What happened?**

Below is a snippet from the output for the

[2021-07-02 14:19] RaulButuc commented on #924
The issue seems to happen only when viewing logs via K9s. Running `kubectl logs -n <namespace> <pod>` retrieves the full log including the status. Will close this now.

[2021-07-02 14:19] #924 closed

[2021-07-04 12:13] marcinbojko opened #925 "Problems with dpkg package prevent from installing/upgrading kube-bench"
**Overview**

[A clear and concise description of what the bug is]
During the installation/upgrade of kube-bench*.deb package several errors appear.

sudo dpkg -i kube-bench_0.6.3_linux_amd64.deb

**What happened?**
Error #1
[code]

Error #2
[code]
Looks like extra '.' prevents from installation of a package

Clean install
[code]

**What did you expect to happen:**
Flawless installation/upgrade
Fi

[2021-07-05 11:15] tonyqui opened #926 "Wrong test for experimental-encryption-provider-config on Openshift"
**Overview**

Test 1.34 for RH-07 seems to be apparently wrong:

https://github.com/aquasecurity/kube-bench/blob/6605ff884448fdc0a3beb1682098eacb87a7b52c/cfg/rh-0.7/master.yaml#L592

This asserts the following payload:

providers:
  - aescbc:
    experimental-encryption-provider-config:
      aescbc
...

However from Openshift 3.11 configuration page it seems that the configuration looks:
provider

[2021-07-05 11:16] tonyqui commented on #926
It would be great if anyone could point to which guideline/reference the test is inspired to.

[2021-07-06 02:22] rajan123456 opened #927 "Unable to target cis-1.20 on k8s cluster 1.20.8"
**Overview**

I am trying to use kube-bench for scanning cis-1.20 on my on-prem kubernetes cluster (v1.20.8). However, kube-bench is targetting with cis-1.6 only. If I force specify the target version: cis-1.20, the scan errors out completely.

**How did you run kube-bench?**

I am using the job-master.yml and job-node.yml for running scans on my cluster within k8s.

[code]

**What happened?**

Lo

[2021-07-07 08:05] yoavrotems commented on #927
Ok weird, when I run it locally using kind this is what I get,
`I0616 09:03:17.963021    2837 common.go:282] mapToBenchmarkVersion for k8sVersion: "1.20" cisVersion: "cis-1.20" found: true`

I'm using the tag 0.6.3
Could you please try using this tag?

From the output:
`error validating targets: No targets configured for cis-1.20`
It seems like cis-1.20 mapping is not exist in config.yaml but lets

[2021-07-07 08:22] yoavrotems commented on #926
Hey thank you for reporting us, those tests are made from an hardening guide we got from rhel in the time.
I think the issue is not in the audit_config query but in the `path`
All the audit command does is cat the encryption-config.yaml
[code]
The `path` command should be change (follows same logic as jq)
https://github.com/aquasecurity/kube-bench/blob/6605ff884448fdc0a3beb1682098eacb87a7b52c/cfg/

[2021-07-07 09:10] tonyqui commented on #926
Hello @yoavrotems,
I wanted to be sure that your reference guide was aligned to my findings.
Since it's the case, I'll submit a PR to amend it.

[2021-07-07 10:15] rajan123456 commented on #927
Hi @yoavrotems - Thanks for your response.
I verified with the tagged image: 0.6.3 - still see the same behavior.
[code]

[2021-07-07 14:13] mozillazg commented on #927
@rajan123456 That's because the 0.6.3 image doesn't support cis 1.20 yet.
Only main branch code supports cis 1.20, you can try the main image (`aquasec/kube-bench:main`) it'll work as your expect.

[2021-07-08 03:58] rajan123456 commented on #927
@mozillazg - Thanks for your response. I was able to get the cis-1.20 scan results using kube-bench:main tag.
Should latest releases be version tagged? Or are you planning a new release after 0.6.3 soon?

[2021-07-08 09:14] yoavrotems commented on #927
We are planning to release tag 0.7.0 in the next few weeks

[2021-07-08 09:14] #927 closed

[2021-07-08 09:16] yoavrotems opened #931 "Deprecate master and node commands"
For the next version 0.7.0 we are going to deprecated commands master and node as mentioned before https://github.com/aquasecurity/kube-bench/discussions/919

[2021-07-13 08:37] nidiculageorge opened #932 "Kube-bench pod error - failed to create containerd task: OCI runtime create failed: container_linux.go:370: starting container process caused: exec: "“kube-bench”": executable file not found in $PATH: unknown"
Hi Team,

We are running the following kube-bench yaml in an Azure AKS cluster.

Yaml Below

---
apiVersion: batch/v1
kind: Job
metadata:
  name: kube-bench
spec:
  template:
    metadata:
      labels:
        app: kube-bench
    spec:
      hostPID: true
      containers:
        - name: kube-bench
          image: aquasec/kube-bench:latest
          command: [“kube-bench”]
          volumeMount

[2021-07-14 12:01] yoavrotems commented on #932
Could you try it please with version 0.6.3? instead of latest

[2021-07-14 12:50] #925 closed

[2021-07-19 00:40] itohaneregie opened #934 "Job.yaml is not working"
**Overview**

i applied the job.yaml file to my cluster with kubectl apply -f job.yaml . The pod was created but in a not ready state . I deployed my k8 cluster with TKGi/PKS - Tanzu kuberneted grid integrate vmware, kubetnetes verison 1.19.1.
**How did you run kube-bench?**
i have a private repository
i downloaded the image from docker hub
pushed it to my local repository harbor
referenced the im

[2021-07-20 18:27] miwithro commented on #934
same problem.  Trying to run aks-job and it is bombing out.

command: ["kube-bench", "run", "--targets", "node", "--benchmark", "aks-1.0"]

The Job "kube-bench" is invalid:
* spec.template.metadata.labels[controller-uid]: Required value: must be '5fa7a7f2-7586-4d9b-9183-b96e0d363483'
* spec.template.metadata.labels[job-name]: Required value: must be 'kube-bench'
* spec.template.metadata.labels: In

[2021-07-20 18:50] sosadtsia opened #938 "Docker image build with a non-root user account"
**Overview**

Our container scanning tool trigger HIGH severity compliance alert after security scan with of the image `aquasec/kube-bench:latest`.

**How did you run kube-bench?**

N/A

**What happened?**

Description of the alert: '(CIS_Docker_v1.2.0 - 4.1) Image should be created with a non-root user. It is a good practice to run the container as a non-root user, if possible.'

**What did you e

[2021-07-21 08:44] yoavrotems commented on #934
Hey, @itohaneregie what image tag did you run?

[2021-07-21 09:06] itohaneregie commented on #934
Hi @yoavrotems the latest tag

Actually , i have a private registry harbor. I pulled the image aquasec/kube-bench:latest from docker and gcr.io/nsx-sm/vmwareallspark/proxyv2:1.7.3 and pushed to my private repository .

[2021-07-21 18:40] miwithro commented on #934
same I ran latest

[2021-07-21 20:27] ankitsrao opened #940 "False positive findings for EKS and AKS based Kubernetes clusters"
**Overview**

Hi Team,

I'm working on a short POC around fetching CIS Kubernetes Benchmark v1.5.0 and analysing the kube-bench results for EKS and AKS. But it seems that kube-bench is returning false positives for some of the CIS controls, mostly the CIS controls illustrating the file permissions [ Controls 4.1.1 to 4.1.10 ]

**How did you run kube-bench?**

I'm running the kube-bench container w

[2021-07-22 12:30] yoavrotems commented on #934
I think that we have issue with latest that docker pull each time after a PR made in here and causing unstable behaviors, could you please try using tag 0.6.3?

[2021-07-22 12:31] yoavrotems commented on #934
I will investigate it as well, but I just want to make sure 0.6.3 is working for you

[2021-07-22 12:34] yoavrotems commented on #940
Hey, I think its relate to other issues we have with latest keep building from each PR which causing some unstable behaviors could you please try running it with tag 0.6.3 and see if the errors still occurs?
And if so please attach more loggings (run it with -v 3 flag) and then we could see why its failing the tests

[2021-07-22 13:46] miwithro commented on #934
same response with 0.6.3

[2021-07-22 13:47] miwithro commented on #934
The Job "kube-bench" is invalid:
* spec.template.metadata.labels[controller-uid]: Required value: must be '5fa7a7f2-7586-4d9b-9183-b96e0d363483'
* spec.template.metadata.labels[job-name]: Required value: must be 'kube-bench'
* spec.template.metadata.labels: Invalid value: map[string]string(nil): `selector` does not match template `labels`

[2021-07-24 14:49] nidiculageorge commented on #932
@yoavrotems The issue is resolved.The issue occured because there was already a kube bench running in my cluster.When i removed that its working fine

[2021-07-24 14:50] #932 closed

[2021-07-25 10:02] yoavrotems commented on #932
OK happy to see it solved 👍

[2021-07-25 13:49] yoavrotems commented on #938
I think we had this issue before and we need to run this as root because else some test couldn't be checked.
The quickest way to test it will be to just run it with root and without and compare results.
Could you do it?
( If not I will get to it in a few days )

[2021-07-27 18:46] sosadtsia commented on #938
Hi @yoavrotems . I've tested a build of two images with and without root user. After comparing the output results of the `kube-bench` tests for both scenarios I wasn't able find any discrepancies.

[2021-07-28 11:24] davidhay1969 opened #943 "kube-bench image has a Alpine Linux vulnerability"
**Overview**

Having built/pushed our own build of `kube-bench` ( built from the [Dockerfile](https://github.com/aquasecurity/kube-bench/blob/main/Dockerfile) ) to our IBM Container Registry (ICR) environment, the built-in Vulnerability Advisor scanner highlighted that the image suffers from [
CVE-2021-36159](https://snyk.io/vuln/SNYK-ALPINE314-APKTOOLS-1533752) related to `apk-tools`

VA reports

[2021-08-02 08:08] yoavrotems commented on #938
Hey @sosadtsia Thanks for running and comparing it, in the link you attached I could only see one case results, could you please add the second one?

[2021-08-02 08:09] yoavrotems commented on #943
Hi @davidhay1969 thanks for informing us!
It will be lovely if you could PR in the subject 😸

[2021-08-02 08:49] davidhay1969 commented on #943
FYI @yoavrotems waiting for the [build](https://github.com/aquasecurity/kube-bench/pull/944/checks?check_run_id=3218869221) to run ...

[2021-08-02 09:17] davidhay1969 commented on #943
😕  Integration tests appear to fail, but not 💯 sure why ....

[code]

[code]

etc.

[2021-08-02 11:28] yoavrotems commented on #943
I'm checking it, I also encountered it somewhere else so I tried to run old successful build and now it failed.
I will update once fixed.

[2021-08-02 13:00] sosadtsia commented on #938
Hey @yoavrotems . You  can find the second one [here](https://pastebin.com/DuK4VFTd)

[2021-08-02 21:21] bryanhanner commented on #927
Hello @yoavrotems, any updates on a new release that includes cis-1.20? We could definitely use it

[2021-08-03 07:50] yoavrotems commented on #927
Hey @bryanhanner I think this release will take longer then first expected, we will consider to release just a minor tag 0.6.4 to include this new cis and other small fixes.

I will update soon

[2021-08-03 14:21] #943 closed

[2021-08-03 14:23] yoavrotems commented on #943
Fixed it and thank you!

[2021-08-03 14:33] davidhay1969 commented on #943
Thanks @yoavrotems 🙇

[2021-08-04 07:32] yoavrotems commented on #934
I just ran the job using kind and all is good, are you sure you don't have any already running kube-bench job?
https://github.com/aquasecurity/kube-bench/runs/3231809232?check_suite_focus=true#step:9:1 you can see this job is running every build

[2021-08-04 08:03] brainfair opened #948 "[FAIL] 4.2.6 on node"
**Overview**

After scan
[FAIL] 4.2.6 Ensure that the --protect-kernel-defaults argument is set to true (Automated)

But in /etc/kubernetes/kubelet-config.yaml
protectKernelDefaults: true

**How did you run kube-bench?**

DaemonSet

**What happened?**

[code]

**What did you expect to happen:**

[PASS] 4.2.6

**Environment**

kube-bench: 0.6.3
kubernetes: 1.20.7

**Running processes**

[code]

**C

[2021-08-04 14:14] yoavrotems commented on #948
Could you attach the `-v 3`  logs ?
You can also just run this check with --check=4.2.6.

When we would of the logs we can better see where the problem is :)

[2021-08-05 07:28] brainfair commented on #948
Yep,  And I see that kube-bench scan /var/lib/kubelet/config.yaml, but not /etc/kubernetes/kubelet-config.yaml
[code]

[2021-08-05 20:34] ankitsrao commented on #940
Hi @yoavrotems ,

Thank you for the revert and apologies for the late response from my end.
So I tried out to fetch the findings with the kube-bench version 0.6.0 , and I'm different data ( as expected) as compared to when I run the latest version of kube-bench. I've attached the log files using both the image versions for your referance.

[kube-bench-latest-logfile.txt](https://github.com/aquasec

[2021-08-09 07:28] yoavrotems commented on #948
OK it's seems that because you two files kube-bench just takes the one which come first in config.yaml, you have multiple option to solve this,
1. Delete the unused config file
2. Delete the unused config file from kube-bench config.yaml list
3. Move the config file name you use to top in kube-bench config.yaml list  (Kube-bench works top-bottom and search for the files in config.yaml to be substi

[2021-08-09 07:44] yoavrotems commented on #940
Ok did you ran kube-bench binaries ? or a job? or with docker?
Because the main difference between the logs you sent me is that the latest one seems to missing env libs
`I0805 20:20:05.441335   30268 check.go:186] Command: "/bin/sh -c 'if test -e /etc/systemd/system/kubelet.service; then stat -c permissions=%a /etc/systemd/system/kubelet.service; fi' " TestResult: <<EMPTY>> `
So if you are running

[2021-08-09 17:21] ankitsrao commented on #940
Hi @yoavrotems ,
The utility was run as a Job for both the versions and on the same EKS cluster.
So ideally , we should not see different responses , just because of using different kube-bench versions.

Thanks,

[2021-08-10 09:03] yoavrotems commented on #940
I will need to further investigating it if you just ran it as job.

Ideally we shouldn't see different output, but kube-bench is evolving, we are making upgrades, fixing bugs, updating images and envs we use, it only reasonable that there will be changes in the engine and output from version to version, we just need to keep in track that nothing is breaking.

Back to the subject, I will investigat

[2021-08-10 09:03] #940 closed

[2021-08-10 09:55] ankitsrao commented on #940
`I checked version 0.6.3 as well and it passed too.`

I guess there is a miss here. The log file I shared for the latest version marks controls 4.1.1 to 4.1.10 all FAIL , whereas kube-bench v0.6.0 marks them PASS

Also to clarify, this is not just about 2 controls, this discrepancy is for 10 CIS controls , including all CIS controls from 4.1.1 to 4.1.10, which I feel is alarming.

Thanks,

[2021-08-11 13:08] JesperBerggren opened #959 "Kube-bench doesn't find arguments in --kubelet-args-file and --apiserver-args-file which are used by Microk8s"
**Overview**

Kube-bench doesn't seem to find the arguments provided in:
--kubelet-args-file=xxx
--apiserver-args-file=yyy
Microk8s uses these two arguments, each pointing to a file that contains the actual arguments for kubelet and kube-apiserver.
This means that testcases fail without necessarily being an error.

**How did you run kube-bench?**

Command line:
`./kube-bench run --config-dir ./cfg

[2021-08-11 14:04] JesperBerggren commented on #959
Ok, doing some more research on my own, I found that adding _"kubelite"_ to _bins_ list under:
- apiserver
- scheduler
- controllermanager
- kubelet
- proxy

fixes some of the issue.

I would think it should be added in the repo since it already partially supports Microk8s.

[2021-08-12 06:38] 0x646e78 commented on #925
I'm impacted by this also, looking forward to a release which has the fix.

[2021-08-12 09:22] JesperBerggren commented on #959
Well, to be precise: Adding _kubelite_ under _bins_ doesn't fix the issue. It just makes sure the $apiserverbin is set.

The primary issue is because the tests are too simple (snippet from master.yaml):
[code]

Simply grepping after the flag in a _ps -ef_  command doesn't find all the arguments inside the files provided by the flags: --kubelet-args-file=xxx and --apiserver-args-file=yyy

NB: 1.2.1

[2021-08-12 09:31] brainfair commented on #948
Thx for solution @yoavrotems.
I added /etc/kubernetes/kubelet-config.yaml to config.yaml and mounted them via configmap to pod, now all checks pass.
Also currently there is no /etc/kubernetes/kubelet-config.yaml in default kube-bench config.yaml, I propose to add them to config, because it`s default configuration of kubespray deployment tool.

[2021-08-12 10:09] JesperBerggren commented on #959
Btw. I just realized that the issue will also affect:
- Scheduler which uses _--scheduler-args-file=zzz_
- Controller Manager which uses _--controller-manager-args-file=qqq_
- Proxy which uses _--proxy-args-file=sss_

[2021-08-12 14:16] yoavrotems commented on #948
Great happy to see it solve and if /etc/kubernetes/kubelet-config.yaml is default configuration of kubespray we should add it, do you want to make a PR in the subject?

[2021-08-12 14:16] #948 closed

[2021-08-12 14:20] yoavrotems commented on #959
Could you please attach the -v 3 logs, so we could see what input the kube-bench get in those tests?

[2021-08-12 15:03] brainfair commented on #948
Yep, I will send PR.

[2021-08-12 21:22] damerakd opened #962 "Unable to Install kube-bench on EKS worker nodes"
**Overview**
Getting below error when installing kube-bench on EKS worker node using the below instructions:

KUBEBENCH_URL=$(curl -s https://api.github.com/repos/aquasecurity/kube-bench/releases/latest | jq -r '.assets[] | select(.name | contains("amd64.rpm")) | .browser_download_url')

sudo yum install -y $KUBEBENCH_URL

===========

Loaded plugins: priorities, update-motd, versionlock

kube-ben

[2021-08-13 10:15] abhishekjaiswal06 opened #963 "Kube-bench is not working on arm/64 worker node"
I followed the documentation to set up kub-bench as a job on my worker node. Everything is working as expected but container is failing. When i checked logs it is showing below error

standard_init_linux.go:228: exec user process caused: exec format error

Below are my manifest file, I am using aquasec/kube-bench:latest image.

---
apiVersion: batch/v1
kind: Job
metadata:
  name: kube-bench
  name

[2021-08-16 10:09] raesene opened #964 "Install of 0.6.3 Deb package fails"
**Overview**

Trying to install the latest version of kube-bench using the AMD64 deb package fails with an error about a missing directory.

**How did you try to install kube-bench?**

Downloaded the Deb file

[code]

Then installed using `dpkg -i`

[code]

**What happened?**

An error around creating directories was received (as shown in the output above)

**What did you expect to happen:**

kube

[2021-08-16 11:16] sushiMix commented on #964
I have seen the same issue on both 0.6.3 and 0.6.2

[2021-08-17 08:42] JesperBerggren commented on #959
Hi again and sorry for the long delay on answering - I've been hung up on some other issues.

Here's the output from -v 3:
NB! In order for me to actually being able to run the tests with decent output, I've added kubelite under bins as written in one of my comments above - and added an extra path to kubeconfig in a couple of places.

[code]

[2021-08-17 08:48] JesperBerggren commented on #959
For now I've implemented a hack'ish way for me to get the right output.

In the file _cfg/cis-1.6/master.yaml_ I've replaced the audit strings in all the tests from id 1.2.1 to 1.2.35 with this:
[code]

It works for both standard arguments and the ---apiserver-args-file=xxx, but it's not exactly pretty and I hope you can implement or suggest a better way :-)

[2021-08-20 05:24] ragashreeshekar opened #972 "Unable to install kube-bench on openshift nodes"
**Overview**
Unable to install kube-bench on openshift nodes

**How did you run kube-bench?**

I have followed the following approach to deploy the kube-bench pod in openshift cluster.
It seems the pod is getting scheduled, I am able to pull the container image however there is an issue in creating the pod sandbox.

$ kubectl apply -f job.yaml
job.batch/kube-bench created

**What happened?**

Kube

[2021-08-30 12:38] #926 closed

[2021-08-30 12:39] yoavrotems commented on #934
If this is still an issue please let us know and reopen this issue, since it worked when I tested it I'm closing this issue.

[2021-08-30 12:39] #934 closed

[2021-08-31 15:11] davidhay1969 opened #980 "CVE warnings for Alpine openssl component of kube-bench image"
**Overview**

The kube-bench image needs to be updated/patched to mitigate a bug in Alpine Linux' `openssl` component, as per [CVE-2021-3711](https://nvd.nist.gov/vuln/detail/CVE-2021-3711) and [CVE-2021-3712](https://nvd.nist.gov/vuln/detail/CVE-2021-3712)

This was highlighted by our IBM Container Registry Vulnerability Advisor tool, which reports: -

[code]

For me, the mitigation

**How did yo

[2021-09-01 06:51] yoavrotems commented on #980
Hey @davidhay1969 thank you for informing us! it will be great if you can make a PR 😸

[2021-09-01 09:05] davidhay1969 commented on #980
Morning @yoavrotems perfect, have raised [PR 981](https://github.com/aquasecurity/kube-bench/pull/981) - hope the build passes 🤞

[2021-09-02 14:22] #980 closed

[2021-09-08 07:06] Effex-D commented on #963
I'm also running into this issue, where kube-bench is failing on a hybrid Kubernetes cluster containing X86_64 and ARM processors.

Are there any plans or suggestions on how to implement this for ARM?

[2021-09-10 17:24] tonyqui commented on #972
Hello @ragashreeshekar, I regularly run jobs on openshift cluster without no issue.
Since there are multiple jobs in this repo, would you mind to paste here the content of the job file you're applying to openshift to see its content?

[2021-09-11 07:47] ragashreeshekar commented on #972
@tonyqui Thanks for your response.
I have used the https://raw.githubusercontent.com/aquasecurity/kube-bench/main/job.yaml job.

With this, a new error is arising, details as follows:
Pods
[code]

Pod description
[code]

[2021-09-11 08:22] sahilchadha1991 opened #984 "EKS benchmark rule not found"
https://github.com/aquasecurity/kube-bench/blob/10ba0adb2d45eb45b9178b51ede45d4dfcae46a0/cfg/eks-1.0/policies.yaml#L196

This rule is not part of eks cis 1.0.0 benchmark

[2021-09-12 10:05] tonyqui commented on #972
To me this does not relate to kube-bench delivery.

Image is correctly published on [dockerhub](https://hub.docker.com/layers/aquasec/kube-bench/0.6.3/images/sha256-e02aa2eb58c9a6bee9e2b060684051be14b266f0e9952cadd8f71f32f578b5d7?context=explore).
I'd suggest to check your configuration (openshift?) to check that dockerhub is correctly listed in image registry section of the cluster.
Eventually yo

[2021-09-16 23:42] abhay-krishna opened #996 "False file permission failures on Bottlerocket nodes"
Hi, I tried running Kube-bench tests on a cluster provisioned with Bottlerocket nodes. The test results showed a lot of failures corresponding to permissions on pod specification files and kubeconfig files. Upon checking the controlplane node however, I found all the static pods manifests were there and also had required permissions. I suspect the issue is that Bottlerocket places the pod manifest

[2021-09-20 03:06] abhay-krishna commented on #996
/cc @yoavrotems

[2021-09-20 21:19] andrewmyhre opened #1000 "The `run` command does not appear to honor the `--exit-code` flag"
**Overview**

The `--exit-code` command, proposed [here](https://github.com/aquasecurity/kube-bench/discussions/566) and implemented [here](https://github.com/aquasecurity/kube-bench/pull/734), seems to _only_ be honored by the `root` command. It seems to be ignored by the `run` command.

**How did you run kube-bench?**

In a Kubernetes job with the arguments:

[code]

**What happened?**

Even tho

[2021-09-20 21:23] andrewmyhre commented on #1000
Woohoo 1000th issue!

[2021-09-26 12:53] jainpratik163 opened #1002 "getting this error /entrypoint.sh: line 18: exec: kube-bench: not found"
**Overview**

Trying to run kube-bench on  my k8s cluster via docker command `docker run --pid=host -v /etc:/etc:ro -v /var:/var:ro -t aquasec/kube-bench:latest master --version 1.19` and getting below error

**/entrypoint.sh: line 18: exec: kube-bench: not found**

[2021-09-29 11:45] yoavrotems commented on #1002
We had issue with the last build, I will release a new one today fixing it

[2021-09-29 11:45] #1002 closed

[2021-09-29 11:46] yoavrotems commented on #1000
I think its relate to issue with the 0.6.4 build not building, I will release a new one today

[2021-09-29 11:47] yoavrotems commented on #996
If you could please attach the -v 3 logs it will be great and I could know better what is wrong.

[2021-09-29 12:09] jainpratik163 commented on #1002
thanks.

[2021-09-29 13:57] yoavrotems commented on #902
I'm closing until farther interaction.

[2021-09-29 13:57] #902 closed

[2021-10-03 12:48] yoavrotems commented on #1000
I'm closing this issue, if it is still an issue in 0.6.5 please reopen this.

[2021-10-03 12:49] yoavrotems commented on #964
Fixed in tag v0.6.5

[2021-10-03 12:49] #964 closed

[2021-10-03 14:28] yoavrotems commented on #962
Please let me know if this is still an issue in v0.6.5

[2021-10-04 11:00] #962 closed

[2021-10-04 11:00] #972 closed

[2021-10-04 11:00] #996 closed

[2021-10-05 08:59] jainpratik163 commented on #1002
still i am getting issue , does build issue didn't solve ?
`/entrypoint.sh: line 18: exec: kube-bench: not found`

[2021-10-05 12:22] yoavrotems commented on #1002
Just ran the exact same command on a clean machine (I don't have running cluster currently so all test are failing but it running)
![image](https://user-images.githubusercontent.com/12915002/136021045-09d3f312-ab70-41bf-895d-aaa635bc0630.png)

What docker version do you use? maybe try replacing latest with  v0.6.5?

[2021-10-05 12:44] jainpratik163 commented on #1002
hi,
below is docker version which i am using
03:39:43 ***@***.*** → docker -v
Docker version 1.13.1, build 7d71120/1.13.1

and OS version
cat /etc/redhat-release
Red Hat Enterprise Linux Server release 7.6 (Maipo)

and version v0.6.5 work

On Tue, Oct 5, 2021 at 5:52 PM Yoav Rotem ***@***.***> wrote:

--
Thanks,
Pratik Jain

[2021-10-05 13:34] yoavrotems commented on #1002
OK so if version 0.6.5 running then all is good right?

[2021-10-05 14:09] jainpratik163 commented on #1002
yes for now all good but want to understand why facing an issue with lasted
version.

On Tue, Oct 5, 2021 at 7:04 PM Yoav Rotem ***@***.***> wrote:

--
Thanks,
Pratik Jain

[2021-10-31 15:58] hypnoglow commented on #916
/assign

[2021-11-08 12:06] #963 closed

[2021-11-14 13:37] #984 closed

[2021-11-14 15:31] yoavrotems commented on #959
Hey sorry for the late response, First thing about the commands we use the CIS commands so if you have a better suggestion for a command to run please suggest it to CIS they are very open and receiving issues and tickets about this stuff 😄
I'm closing this issue because there isn't seems to be any false positive or mistake in the implement, but you have more fundamental issue with the CIS command.

[2021-11-14 15:31] #959 closed

[2021-11-29 20:19] 64J0 opened #1060 "[Docs] Asff images are not loading"
**Overview**

The images in `asff` docs page is not loading because the path is wrong. I have created a PR to solve it: #1059 .

**How did you run kube-bench?**

...

**What happened?**

...

**What did you expect to happen:**

Load the images correctly.

**Environment**

...

**Running processes**

...

**Configuration files**

...

**Anything else you would like to add:**

Accept my PR to solve

[2021-12-01 10:01] yoavrotems commented on #1060
Thanks

[2021-12-01 10:01] #1060 closed

[2021-12-03 16:57] NOWYOU commented on #927
I use the binary installation package of kube-bench_0.6.5 to run, but the system cannot manually recognize cis-1.20

kubernetes version：v1.22.2 by kubeadm
OS：Raspberry Pi arm64 ubuntu
Installation package used ：kube-bench_0.6.5_linux_arm64.tar.gz

I type in the terminal:
`./kube-bench --config-dir=./cfg/cis-1.20 --config=./cfg/config.yaml run --targets=master`

The error result returned is: Error

[2021-12-08 11:34] xycloops123 opened #1067 "Issues while running within Tekton"
**Overview**

I am seeing the below error while running kube-bench via tekton taskrun

```The Job "kube-bench" is invalid: spec.template: Invalid value: core.PodTemplateSpec{ObjectMeta:v1.ObjectMeta{Name:"", GenerateName:"", Namespace:"", SelfLink:"", UID:"", ResourceVersion:"", Generation:0, CreationTimestamp:v1.Time{Time:time.Time{wall:0x0, ext:0, loc:(*time.Location)(nil)}}, DeletionTimestamp:(

[2021-12-09 12:26] mozillazg opened #1068 "Update auto-detection codes to support not only check platform name but also check platform version"
**Overview**

Context: https://github.com/aquasecurity/kube-bench/pull/1050#issuecomment-983471211

Update auto-detection codes to support blow case:

[2021-12-09 22:29] kbroughton opened #1070 "error validating targets: No targets configured for gke-1.2.0"
**Overview**

kubectl apply -f job-gke.yaml fails with the error in the logs
error validating targets: No targets configured for gke-1.2.0

**What did you expect to happen:**

expected a successful run

**Environment**

GKE version 1.9

**Running processes**

it's not that complicated.

**Configuration files**

The config target changed from
          command: ["kube-bench", "run", "--targets", "n

[2021-12-10 09:13] mozillazg commented on #1070
@kbroughton

This is likely the problem.

Yes, you are right, the latest image does not support this benchmark, the reason can be found here: https://github.com/aquasecurity/kube-bench/pull/915#issuecomment-981050070

Because it used to create unstable images for each new push. If you have any more questions in the subject please open a issue about it.

[2021-12-15 09:52] mirtov-alexey commented on #225
@lizrice
Hello!
Do I understand correctly that this problem can be partially solved through the starboard?
will it launch kube-bench when a new node joins a node?
but it will not run repeated checks again on the already connected node in case someone just logs in and changes the config file? https://blog.aquasec.com/automate-kubernetes-compliance
does starboard not have this feature?

What are the

[2021-12-21 13:13] tapoton commented on #852
Hi @yoavrotems
Looks like it's a mistake in checks. You're talking about `--kubeconfig` argument, but the path to conf file is in `--config` argument. So the check uses $kubeletconf as `audit-config`, but it actually should use `$kubeletkubeconfig` variable.

[2021-12-22 14:29] mozillazg commented on #852
Hi @tapoton

The check uses `$kubeletconf` as audit-config is expected.

The root cause is the old job didn't mount `/home/kubernetes` and that has been fixed via https://github.com/aquasecurity/kube-bench/pull/976

[2021-12-22 14:39] tapoton commented on #852
Hi @mozillazg ,
I just checked the logs attached by @THordeq
[code]

Here you can see `Command: "/bin/cat /var/lib/kubelet/kubeconfig"` which is passed as `--kubeconfig`, but the benchmark says you need to check what's in the `--config` argument (`--config /home/kubernetes/kubelet-config.yaml`).
You can also see that the result of `cat` is:
[code]

[2021-12-23 01:09] mozillazg commented on #852
@tapoton

The `"/bin/cat /var/lib/kubelet/kubeconfig"` is generated via parse `"/bin/cat $kubeletconf"`, it has nothing to do with `--kubeconfig`. And the way to get value of `$kubeletconf` is follow this rules:

https://github.com/aquasecurity/kube-bench/blob/main/docs/controls.md#configuration-and-variables

[A list of candidate configuration files] for kubelet(`$kubeletconf`) is defined in conf

[2022-01-10 13:25] #1068 closed

[2022-01-12 13:06] yoavrotems commented on #1070
Fixed by https://github.com/aquasecurity/kube-bench/discussions/1080

[2022-01-12 13:06] #1070 closed

[2022-01-12 13:13] #802 closed

[2022-01-19 12:06] ispirals commented on #1000
Hi, I'm having the same issue using the latest image with the `run` subcommand.
[code]

[2022-01-21 13:23] mozillazg commented on #1000
@ispirals Thanks report.

[2022-01-21 13:55] mozillazg commented on #1000
The PR #1084 will fix this issue.

[2022-01-23 07:41] #1000 closed

[2022-01-26 07:43] adelwin commented on #903
I'm not sure if there's a regression or if something in AWS-SH has added some further checking.
I am getting something similar to this one.
[code]
Should I open a new ticket or continue the convo here?

[2022-01-26 08:14] yoavrotems commented on #903
@adelwin yes please open a new bug report with all of the needed information

[2022-01-26 09:10] adelwin commented on #903
I just checked that the new image v0.6.6 has already addressed the recommendation string.
Thanks @yoavrotems

[2022-01-26 12:46] yoavrotems commented on #903
Sure thing 👍

[2022-02-02 09:04] yoavrotems commented on #1067
Hey @xycloops123  could you please try to run with 0.6.6 and check that there isn't running kube-bench jobs before?

[2022-02-03 15:46] BasBremerTC opened #1090 "Documentation should be more clear about outputfile flag"
**Overview**

At the page https://github.com/aquasecurity/kube-bench/blob/main/docs/flags-and-commands.md a flag is shown to output to json file (--outputfile).
In order to do this the --json flag also is needed.
This cant be found in the documentation.

Suggestion would be to add an example or write some more details behind the flag.

[2022-02-03 16:47] tectime opened #1091 "Fix the vulnerabilities found in the aquasec/kube-bench:0.6.3 image"
Internal request:

Through the Aqua scanning process, the vulnerabilities shown below were found.

**How did you run kube-bench?**

The aquasec/kube-bench:0.6.3 image is being automatically deployed during the KubeEnforcer deployment.

CVE-2021-3711 - Critical - openssl
CVE-2021-36159 - Critical - apk-tools
CVE-2021-42385 - High - busybox
CVE-2021-42381 - High - busybox
CVE-2021-3712 - High - open

[2022-02-04 13:31] itaysk commented on #1091
thanks for opening an issue @tectime, this is not an issue to report in kube-bench but in Aqua Platform. can you please raise this concern through the customer support channels?

[2022-02-04 13:31] #1091 closed

[2022-02-06 11:45] mozillazg commented on #1090
Thanks for your suggestion! We'll improve the document and PR is welcome.

[2022-02-12 14:32] mozillazg commented on #1090
@BasBremerTC I just have created a PR for this: https://github.com/aquasecurity/kube-bench/pull/1094. What do you think about it? Does it be more clear?

[2022-02-14 17:05] #1090 closed

[2022-02-22 16:10] #931 closed

[2022-03-01 10:46] winkee01 opened #1104 "An example is missed, related to eventRecordQPS"
in `node.yaml` (e.g. [this](https://github.com/aquasecurity/kube-bench/blob/main/cfg/cis-1.6/node.yaml)), there is a missing example related to **`eventRecordQPS`**, which makes it not consistent with other remediations.

[code]

[2022-03-01 12:40] winkee01 commented on #1104
I think eventRecordQPS should be set to  0

[2022-03-02 09:06] nayyaung commented on #934
I had similar error but they went away after deleting an old kube-bench job like so: `kubectl delete job/kube-bench`

[2022-03-02 14:28] mozillazg commented on #934
@nayyaung That is expected. You can not update the `spec.template` field of a job because that field is not updatable: https://github.com/kubernetes/kubernetes/issues/89657

[2022-03-11 17:14] OS-NickC opened #1112 "Capitalization of "remediation" leads to failure in uploading to AWS"
https://github.com/aquasecurity/kube-bench/blob/9e5d95eb604194d5120337caff67c8c8579842a7/cfg/eks-1.0.1/policies.yaml#L40

[2022-03-12 02:54] mozillazg commented on #1112
@OS-NickC Thanks for reporting. We'll fix it soon and PR is welcome.

[2022-03-13 07:27] #1112 closed

[2022-03-16 15:06] ben-harvey opened #1116 "ASFF: timestamp in finding ID leads to duplicate Security Hub findings"
**Overview**
I'm using the `--asff` flag to generate ASFF findings and import them to Security Hub.  When encoding the results, `kube-bench` uses a timestamp as a component of the finding ID:
https://github.com/aquasecurity/kube-bench/blob/aedc2942bdb22455117382dd02e1d18212ed0a66/check/controls.go#L252
The result is that multiple runs of `kube-bench` will generate unique IDs, even if the underlyin

[2022-03-17 13:44] mozillazg commented on #1116
@ben-harvey Thanks for reporting. I'll take a look at it.

[2022-03-27 06:36] #1116 closed

[2022-03-30 12:05] dwellkamp opened #1133 "CIS Kubernetes V1.23 Benchmark v1.0.0"
### Discussed in https://github.com/aquasecurity/kube-bench/discussions/1132

<div type='discussions-op-text'>

<sup>Originally posted by **dwellkamp** March 30, 2022</sup>
The [CIS Kubernetes V1.23 Benchmark v1.0.0](https://workbench.cisecurity.org/benchmarks/7532) was published on Jan 31st 2022 and we should support it.

</div>

[2022-03-30 18:08] rbren opened #1134 "Latest image has vulnerabilities"
**Overview**

[A clear and concise description of what the bug is]

[code]

**How did you run kube-bench?**
Scanned w/ trivy

**What happened?**
Some vulns found

**What did you expect to happen:**

No vulns

I _think_ this might be solvable by just rebuilding the image or updating the OS

[2022-03-31 05:30] chen-keinan commented on #1134
@rbren thank you  for this input, I will take a look at it

[2022-03-31 08:08] chen-keinan opened #1135 "CIS Kubernetes V1.23 Benchmark support"
Add a new profile to support CIS Kubernetes V1.23 Benchmark

[2022-04-01 14:16] mozillazg commented on #1135
closing as duplicate of #1133

[2022-04-01 14:16] #1135 closed

[2022-04-03 11:13] chen-keinan commented on #1134
Fixed by #1136

[2022-04-03 11:13] #1134 closed

[2022-04-08 19:27] imjoseangel opened #1147 "Azure AKS v1.21.9 and v1.22.6 not properly reporting RotateKubeletServerCertificate"
**Overview**

RotateKubeletServerCertificate not properly checked on AKS

**How did you run kube-bench?**

[code]

**What happened?**

Warning message on AKS Job
[code]

**What did you expect to happen:**

[code]

**Environment**

kube-bench 0.6.7

kubernetes - aks with both v1.21.9 and 1.22.6

**Running processes**

[code]

**Configuration files**

[code]

**Anything else you would like to add:**

[2022-04-10 12:24] mozillazg commented on #1147
Looks like you are right. But since we follow the CIS benchmark, we should keep using the benchmark recommend ways to check this item.

You can raise the discussion with the CIS community by joining at https://workbench.cisecurity.org/

[2022-04-10 17:27] imjoseangel commented on #1147
Will do, thanks!

[2022-04-10 17:27] #1147 closed

[2022-04-13 08:50] QiuToo opened #1154 "kube-bench node"
kube-bench node
The Kube bench node will fail, but after I modify it according to the prompt and check again, the Kube bench node will still fail. The Kube bench I use is version 0.6.6

[2022-04-18 06:27] #1133 closed

[2022-04-19 03:19] tengqm commented on #196
Looks like this feature can be closed because dynamic kubelet config is deprecated in Kubernetes.

[2022-04-19 18:45] #196 closed

[2022-04-20 12:57] chen-keinan opened #1158 "Vulnerability has found in v0.6.7"
**Overview**

The latest Kubench v0.6.7 image has vulnerabilities,
[code]

[code]

[2022-04-24 11:11] chen-keinan commented on #1158
Fixed with release v0.6.8 #1160

[2022-04-24 11:11] #1158 closed

[2022-05-03 05:37] joebowbeer commented on #133
I notice that the `--event-qps` advice is causing a lot of confusion and potential [mis-configuration](https://github.com/awslabs/amazon-eks-ami/pull/391).

In the command line option, 0 is documented to use the default value of 5, whereas in the config file, a value of 0 is documented to disable rate limiting, which is precisely what this rule is supposed to prevent.

[https://github.com/kubernet

[2022-05-06 12:57] mozillazg opened #1169 "use log instead of print when possible"
### Discussed in https://github.com/aquasecurity/kube-bench/discussions/1168

<div type='discussions-op-text'>

<sup>Originally posted by **strajansebastian** May  5, 2022</sup>
Hello,

I get the following error/warning message when running the job at the bottom in a rancher cluster on a worker node (on master I don't get this and the job is similar)

Output
[code]

Found that the lines from above

[2022-05-07 00:02] joebowbeer commented on #1104
@winkee01 You should avoid 0 unless you're using the deprecated `--event-qps` command line.

This is confusing because when using the deprecated command line option, 0 is documented to use the default value of 5, whereas in the config file, a value of 0 is documented to disable rate limiting, which is precisely what this rule is supposed to prevent.

[https://github.com/kubernetes/kubernetes/blob/

[2022-05-13 17:46] ben-harvey opened #1179 "ASFF: findings with the same control ID overwrite each other"
### Overview
We are running kube-bench against multiple EKS clusters that share a common configuration. That means that we often get findings for the same control ID across multiple clusters.

The PR for my previous [kube-bench issue](https://github.com/aquasecurity/kube-bench/issues/1116) which removed the timestamp from the finding ID, introduced a new problem.  By removing the timestamp (which

[2022-05-14 01:27] mozillazg commented on #1179
@ben-harvey Thanks for reporting. I'll take a look at it and PR is welcome.

[2022-05-20 11:37] LQss11 commented on #613
make sure the directory exists which will include config files and this is what you will see when you type `kube-bench -h`:
[code]

[2022-05-20 11:38] LQss11 commented on #600
make sure the directory exists which will include config files and this is what you will see when you type `kube-bench -h`:
[code]

[2022-05-21 16:06] #1179 closed

[2022-05-22 04:44] #1169 closed

[2022-05-26 10:06] artemisok opened #1190 "Kube-bench imports the same finding with the same finding arn from different clusters to Security Hub"
**Overview**

[A clear and concise description of what the bug is]

**How did you run kube-bench?**

We have deployed kube-bech as a job based on the template to submit the findings to securiy hub.
https://github.com/aquasecurity/kube-bench/blob/main/job-eks-asff.yaml

**What happened?**

We have observed that the imports of findings from same account are not having unique ids therefore the findin

[2022-05-29 13:59] mozillazg commented on #1190
@artemisok Is this issue a duplicate of the https://github.com/aquasecurity/kube-bench/issues/1179?

[2022-05-31 00:54] mozillazg commented on #1179
It may be necessary to add the node name(add a new environment variable to get the node name) to the finding ID too?

[2022-06-08 14:05] mozillazg opened #1203 "The control 4.2.11 in benchmark `cis-1.20` should be `Automated`"
**Overview**

[A clear and concise description of what the bug is]

<img width="1146" alt="image" src="https://user-images.githubusercontent.com/485054/172636671-f3c8b995-7019-4cd2-a989-c720dcfe3d42.png">

https://github.com/aquasecurity/kube-bench/discussions/595#discussioncomment-2905337

**How did you run kube-bench?**

[Please specify exactly how you ran kube-bench, including details of comman

[2022-06-09 01:15] mozillazg opened #1205 "Support version 1.1.0 of CIS Benchmarks for Amazon EKS"
### Discussed in https://github.com/aquasecurity/kube-bench/discussions/1202

<div type='discussions-op-text'>

<sup>Originally posted by **trallnag** June  8, 2022</sup>
A new version of the benchmark is available.

![image](https://user-images.githubusercontent.com/24834206/172615231-ab571648-5963-4bb2-8861-a35bb982a56a.png)

Support for this would be great. Currently the latest version of `kube

[2022-06-15 12:22] anupamtamrakar opened #1211 "KubeBench check fails in OCP having JSON communication method instead of YAML"
**Overview**

KubeBench check fails in OCP having JSON communication method instead of YAML

**How did you run kube-bench?**
Kubebench ran as kubernetes job, command - 'kube-bench'

**What happened?**

`for node in $(oc get nodes -o jsonpath='{.items[*].metadata.name}')
do
    oc debug node/${node} -- chroot /host grep -B4 -A1 anonymous: /etc/kubernetes/kubelet.conf
done`

This did not work becaus

[2022-06-19 08:48] #1190 closed

[2022-06-19 14:10] #1203 closed

[2022-06-21 07:13] #1067 closed

[2022-07-01 16:10] m1ghtym0 opened #1221 "etcd data-dir ownership check fails if etcd user is not listed in /etc/passwd mounted from host"
**Overview**

The [etcd data directory ownership check](https://github.com/aquasecurity/kube-bench/blob/main/cfg/cis-1.23/master.yaml#L164) fails even though the data directory is owned by `etcd:etcd`

**How did you run kube-bench?**

[code]

**What happened?**

[code]

From `-v 3`:
[code]

From the master node:
[code]

From inside the kube-bench container:
[code]

[Please include output from the

[2022-07-02 00:31] mozillazg commented on #1221
@m1ghtym0 Thanks for reporting.

[2022-08-10 05:43] muddassir-r opened #1239 "Kube-bench skips master node configuration checks while running it on default namespace"
**Overview**

While running the kube-bench on k3s cluster it only performs"4. Worker Node Security Configuration" and "5. Kubernetes Policies"  checks.

**How did you run kube-bench?**

1. Created the job.yaml from https://github.com/aquasecurity/kube-bench/blob/main/job.yaml
 2. kubectl apply -f job.yaml (Which i think created a pod in default namespace)
 3. kubectl logs kube-bench-xxxx

**What d

[2022-08-11 09:46] TARI0510 opened #1242 "cfg/cis-1.6's 4.2.1 get a false negative result"
**Overview**
if kubelet run only with cmd parameter `--anonymous-auth=false` and cannot find configuration file in server, cis-1.6-4.2.1 rule will get a false negative result

**How did you run kube-bench?**
[code]

**What happened?**
[code]

**What did you expect to happen:**
[PASS] 4.2.1 Ensure that the anonymous-auth argument is set to false (Automated)

**Environment**

[What is your version o

[2022-08-16 06:26] jonipatr opened #1245 "kube-bench/cfg/cis-1.6/master.yaml 1.2.26 cannot pass"
**Overview**

1.2.26 Ensure that the --request-timeout argument is set
The test is scored but there is no test added after initial grepping.

**What happened?**

Test always returns:
`[WARN] 1.2.26 Ensure that the --request-timeout argument is set as appropriate (Automated)`

**What did you expect to happen:**

Test should return:
`[PASS] 1.2.26 Ensure that the --request-timeout argument is set as

[2022-08-16 07:37] chen-keinan commented on #1245
@jonipatr thanks for the input. you can pick up this issue if you wish

[2022-08-16 08:07] jonipatr commented on #1245
@chen-keinan
request created: https://github.com/aquasecurity/kube-bench/pull/1246

[2022-08-17 00:41] crenzoaws opened #1247 "DoD STIG Ver 1 Rel 6"
#833

Adding tests to support DoD STIG Ver 1 Rel 6

[2022-08-19 02:43] ddubson opened #1250 "Benchmark Job on Control Plane does not work with K8s 1.24.x"
**Overview**

Benchmarking Job's Pod is stuck in `Pending` state when running against the Control Plane node on K8s 1.24.x. This is due to the fact that K8s 1.24.x replaced label `node-role.kubernetes.io/master` to `node-role.kubernetes.io/control-plane` and added a new taint of the same label.

Sources:
* https://kubernetes.io/blog/2022/04/07/upcoming-changes-in-kubernetes-1-24/#api-removals-depr

[2022-08-21 09:28] mozillazg commented on #1250
Fixed via https://github.com/aquasecurity/kube-bench/pull/1251

[2022-08-21 09:28] #1250 closed

[2022-08-21 09:30] mozillazg commented on #1242
Thanks for reporting. I'll check it later.

[2022-08-21 09:37] mozillazg commented on #1239
@muddassir-r Hi, If you want to check master node configuration checks, you should run with job-master.yaml instead of job.yaml. And for your case to perform all the cis-benchmark checks from 1 to 5,  before applying job-master.yaml you should change the `command` value to `["kube-bench"]`

https://github.com/aquasecurity/kube-bench/blob/113ee337ee900f2e5b65f4471420a5fa08a94e97/job-master.yaml#L30

[2022-08-22 05:17] muddassir-r commented on #1239
@mozillazg I tried the above suggestion and I am getting the same result. It covers only 4 and 5 checks.

[2022-08-22 13:20] mozillazg commented on #1239
@muddassir-r How about change the `command` value to `["kube-bench", "run", "--targets", "master,node,controlplane,etcd,policies"]`?

[2022-08-22 14:12] muddassir-r commented on #1239
[output.txt](https://github.com/aquasecurity/kube-bench/files/9395076/output.txt)
@mozillazg attaching the error message obtained.
"field is immutable"

[2022-08-23 08:43] Gil-Tohar-Forter opened #1255 "MountVolume.SetUp failed for volume "kube-bench-eks-config" Error on EKS security hub integration"
**Overview**

I am trying to run the kube-bench eks yaml, https://github.com/aquasecurity/kube-bench/blob/main/job-eks-asff.yaml. It creates the Service Account, the ConfigMap, and the pod is able to pull the image with no problem. However, as soon as it tries to mount the ConfigMap volume, it fails:

```Warning  FailedMount  3m53s (x3 over 3m54s)  kubelet            MountVolume.SetUp failed for v

[2022-08-23 11:57] TARI0510 commented on #1242
Thanks

[2022-08-23 13:48] navzen2000 opened #1256 "False positive : Kube bench node unable to read from Kubelet config file"
Kube bench node reported:
[FAIL] 4.2.1 Ensure that the anonymous-auth argument is set to false (Automated)
[FAIL] 4.2.2 Ensure that the --authorization-mode argument is not set to AlwaysAllow (Automated)
[FAIL] 4.2.3 Ensure that the --client-ca-file argument is set as appropriate (Automated)
[FAIL] 4.2.6 Ensure that the --protect-kernel-defaults argument is set to true (Automated)

Here is the exc

[2022-08-23 20:05] vinodboruah opened #1258 "I am trying to install kube-bench_0.6.2_linux_amd64.rpm in Suse Linux but it is failing"
I downloaded the package from https://github.com/aquasecurity/kube-bench/releases/download/v0.6.2/kube-bench_0.6.2_linux_amd64.rpm -o kube-bench_0.6.2_linux_amd64.rpm following the documentation - https://github.com/aquasecurity/kube-bench/blob/main/docs/installation.md

After successful download, I fired the following command and it gives me the following
vm2047:~/vinod # zypper in -y kube-bench_

[2022-08-26 13:16] mozillazg commented on #1258
@vinodboruah Looks like you should ignore the signature verification failed:

[code]

[2022-08-26 13:21] mozillazg commented on #1255
@Gil-Tohar-Forter Hi, this is a bug from k8s, known examples of this issue were fixed in EKS 1.22.10: https://github.com/kubernetes/kubernetes/issues/105204

[2022-08-26 13:25] mozillazg commented on #1239
@muddassir-r You should delete the old job first then apply new job yaml:
[code]

[2022-08-29 05:53] muddassir-r commented on #1239
@mozillazg This actually worked, Thanks for resolving.

[2022-08-29 05:53] #1239 closed

[2022-09-06 07:28] Algoss commented on #1256
@navzen2000 I am also facing the same issue. Did you get any resolution for the same?

[2022-09-06 07:40] Algoss commented on #1242
@TARI0510 @mozillazg
Did you find the solution for this issue? I am also facing the issue of "kube-bench cannot find configuration files in server".

Ref: https://github.com/aquasecurity/kube-bench/issues/1256

Please provide your input.

Thanks

[2022-09-06 07:51] Algoss commented on #1256
@DOboznyi
I am running kube-bench pod in kubernetes cluster. It is not able to read the correct config, kubeconfig, ca files. Instead it is reading the default files for each. Hence, pod logs are giving false positive results.

Ref:
https://github.com/aquasecurity/kube-bench/issues/1256

Please provide your input.

[2022-09-06 09:13] navzen2000 commented on #1256
No resolution yet!

[2022-09-10 12:54] mozillazg commented on #1256
@navzen2000 What is the full path of the `kubelet_conf.json` file? Would you try to add this path to the config.yaml (https://github.com/aquasecurity/kube-bench/blob/main/cfg/config.yaml#L153) then try again?

[2022-09-12 13:08] #1154 closed

[2022-09-13 09:13] i-karina opened #1275 "ETCD ownership related checks fail with job.yaml"
**Overview**

ETCD ownership related checks will always failed when running in container.
Issue similar to https://github.com/aquasecurity/kube-bench/issues/842 which related to job-master.yaml
Mounting directories from host in job.yaml helps with the issue: `/erc/passwd` and `/etc/group`

**How did you run kube-bench?**

`kubectl apply -f job.yaml `

**What happened?**

ETCD ownership check alway

[2022-09-13 14:18] crenzoaws opened #1277 "Docker build fail due to glibc"
The Docker build is failing due to an upstream package issue caused by glibc-2.33 and alpine

`Step 18/28 : RUN apk add glibc-2.33-r0.apk
 ---> Running in fd3280d2775e
(1/1) Installing glibc (2.33-r0)
ERROR: glibc-2.33-r0: trying to overwrite etc/nsswitch.conf owned by alpine-baselayout-data-3.2.0-r23.
1 error; 17 MiB in 21 packages
The command '/bin/sh -c apk add glibc-2.33-r0.apk' returned a non

[2022-09-14 14:40] #1247 closed

[2022-09-14 14:41] mozillazg commented on #1277
Fixed via https://github.com/aquasecurity/kube-bench/pull/1280

[2022-09-14 14:41] #1277 closed

[2022-09-15 06:04] #1205 closed

[2022-09-15 09:40] navzen2000 commented on #1256
@mozillazg This path is  in: /var/lib/kubelet/
It would be better if this option can be added as argument to docker image command so that any customized location can be used by kube bench

[2022-09-16 06:55] joebowbeer opened #1281 "--unscored flag is undocumented"
**Overview**

The `--unscored` flag is not documented with the other flags:

https://github.com/aquasecurity/kube-bench/blob/main/docs/flags-and-commands.md#flags

**How did you run kube-bench?**

N/A

**What happened?**

`--unscored` flag is implemented

**What did you expect to happen:**

`--unscored` flag is documented

**Environment**

**Running processes**

**Configuration files**

**Anything

[2022-09-16 09:16] joebowbeer commented on #1104
@mozillazg Note that these `--event-qps` / `eventRecordQPS` tests are wrong.

AFAICT, the tests are looking for a 0 in a deprecated flag (`--event-qps`) or in a kubelet config field (`eventRecordQPS`), however, the default value when both of these **_are missing_** is in fact 5, but if these are present, a 0 value has a very different meaning for the flag than for the config field.

For the deprec

[2022-09-16 12:33] anupamtamrakar opened #1283 "EKS checks for benchmark (1.0.1 and 1.1.0) are not correct"
Lot of checks which are having Keyword '(Automated)' in the text description is actually having
type 'manual'

We should check with official benchmark and update those checks accordingly

https://downloads.cisecurity.org/#/

[2022-09-17 09:04] Pluies commented on #1104
Hey @joebowbeer !

I read the CIS benchmark the other way around - losing security events due to rate-limiting is the main issue the CIS benchmark wants to prevent here, as per their introductory line: "Security relevant information should be logged", and the rationale "it is important to **not restrict event creation**". Rate-limiting will indeed prevent events from being created (if there's too

[2022-09-17 09:18] mozillazg commented on #1256
@navzen2000 Thanks for your suggestion. We may implement it in the future.

[2022-09-17 10:01] joebowbeer commented on #1104
@Pluies I wrote more at https://github.com/awslabs/amazon-eks-ami/pull/391

The original recommendation was to set `--event-qps` to 0 _or_ to tune it to a value appropriate for your cluster.

Setting --event-qps to 0 was equivalent to not setting it at all. Both cases defaulted to 5, which according to some articles is appropriate for 30 pods, but YMMV.

Then the argument was deprecated and the CI

[2022-09-24 17:42] chavacava opened #1288 "`if` with identical `then` and `else` branches"
In the following code, both control branches do the same.

https://github.com/aquasecurity/kube-bench/blob/4d76c77c6a9fcde493e99282575e9aebd70c6a9d/cmd/kubernetes_version_test.go#L267-L275

It could be simplified into:
[code]

Found by [revive](https://github.com/mgechev/revive) (rule [`identical-branches`](https://github.com/mgechev/revive/blob/master/RULES_DESCRIPTIONS.md#identical-branches))

[2022-09-30 13:21] mozillazg commented on #1281
Thanks for reporting and PR is welcome.

[2022-09-30 19:06] ichasco-heytrade opened #1294 "Permission error when using SecurityHub"
**Overview**

[A clear and concise description of what the bug is]

**How did you run kube-bench?**

Creating a cronjob with these args:

[code]

**What happened?**

Can't upload the results to SecurityHub

[code]

**What did you expect to happen:**

Upload the results to SecurityHub

**Environment**

`v0.6.9`

[What is your version of Kubernetes? (run `kubectl version` or `oc version` on OpenShif

[2022-10-01 05:55] chavacava opened #1295 "`if` statement with identical `then` and `else` branches"
https://github.com/aquasecurity/kube-bench/blob/dd39b19ffcd26d27b790916e844e3abf87b4a970/cmd/kubernetes_version_test.go#L267-L275

Could be simplified to just

[code]
?

Found with [revive](https://github.com/mgechev/revive)

[2022-10-09 06:45] joebowbeer commented on #1288
Dup of #1295

[2022-10-09 06:54] joebowbeer commented on #1283
See #1282

Automated text in the test description indicates that the test is scored, even though it may not be automated (type: manual).

[2022-10-09 12:07] #1288 closed

[2022-10-10 19:31] #1281 closed

[2022-10-15 20:35] SeryioGonzalez opened #1305 "Check 4.17"
Check 4.1.7 is based on flag --ca-file, but CA FILE can be passed in kubelet-config.yaml

[2022-10-24 13:14] mozillazg commented on #1295
fixed via #1304

[2022-10-24 13:14] #1295 closed

[2022-10-25 13:05] nicolasjulian commented on #1256
I'm also facing this issue by the way, just wanna confirm. This issue still has't resolve in latest release right ?

[code]

[code]

[2022-11-18 14:52] Algoss commented on #948
Hi @yoavrotems @brainfair
I am running kube-bench pod in k8s cluster.
I am facing similar issue as above where incorrect config file is being used by kube-bench.

**Config Path:** /etc/kubernetes-kubelet/kubelet_config.yaml

I tried above solution where I added **/etc/kubernetes-kubelet/kubelet_config.yaml** to **config.yaml** and mounted them via configmap to pod. But now I am getting further err

[2022-11-18 15:09] Algoss opened #1325 "Error in run: file node.yaml not found for version cis-1.23"
**Overview**
I have config file in `/etc/kubernetes-kubelet/kubelet_config.yaml` path. I added `/etc/kubernetes-kubelet/kubelet_config.yaml` to config.yaml and mounted them via configmap to pod in the path `/opt/kube-bench/cfg`.

While starting kube-bench pod in k8s cluster, it gives error **Error in run: file node.yaml not found for version cis-1.23**

**How did you run kube-bench?**

I ran kube-

[2022-11-18 15:33] Algoss commented on #948
@brainfair To which path, you mounted the configMap?  Could you please share the mountPath details for configMap in pod?

[2022-11-19 02:29] mozillazg commented on #1325
@Algoss We can't use mount to overwrite config.yaml, because it will clean up all files and dirs under the `/opt/kube-bench/cfg`. The recommended way is to do it when building the docker image.

[2022-11-25 13:32] #583 closed

[2022-11-26 00:49] hariprasad0511 commented on #1294
- Can you please attach your role and policy attached to the role? Thanks

[2022-11-30 13:41] ykfq commented on #242
Its maybe because you were not on master node, or your master node was managed by the kubernetes vendor.